In [1]:
import pandas as pd
Retail=pd.read_excel("orders 1.xlsx")
Retail

,Order no.,Date,Driver's name,Item,Number of items,Transport,Destination
0,100001,2013-02-01,John May,TV,25,truck 4,Boston
1,100002,2013-02-01,Peter White,washing machine,30,truck 3,NY
2,100003,2013-02-02,Carl Nowak,washing machine,15,truck 3,Philadelphia
3,100004,2013-02-03,Peter White,TV,32,truck 4,NY
4,100005,2013-02-03,George Ramsay,refrigerator,25,truck 3,Boston
5,100006,2013-02-03,Carl Nowak,washing machine,18,truck 1,Baltimore
6,100007,2013-02-03,John May,refrigerator,15,truck 2,Philadelphia
7,100008,2013-02-04,Carl Nowak,refrigerator,25,truck 3,Baltimore
8,100009,2013-02-04,Peter White,TV,30,truck 1,Michigan
9,100010,2013-02-04,George Ramsay,refrigerator,15,truck 2,NY
10,100011,2013-02-04,Mertl Pavel,microwave,25,truck 3,Philadelphia
11,100012,2013-02-04,John May,washing machine,14,truck 4,NY
12,100013,2013-02-05,John May,washing machine,25,airplane,Baltimore
13,100014,2013-02-05,Carl Nowak,TV,30,truck 4,Philadelphia
14,100015,2013-02-05,George Ramsay,microwave,15,truck 3,Boston
15,100016,2013-02-05,Peter White,TV,15,truck 1,Michigan
16,100017,2013-02-06,John May,microwave,25,truck 1,NY
17,100018,2013-02-07,John May,TV,30,truck 4,Philadelphia
18,100019,2013-02-08,George Ramsay,washing machine,13,truck 3,Baltimore
19,100020,2013-02-08,Peter White,refrigerator,25,truck 2,Philadelphia
20,100021,2013-02-08,Carl Nowak,microwave,30,truck 1,Michigan
21,100022,2013-02-08,Peter White,washing machine,15,airplane,NY
22,100023,2013-02-08,John May,microwave,25,truck 4,Boston
23,100024,2013-02-09,George Ramsay,washing machine,34,truck 3,Baltimore

In [2]:
Retail.dtypes

Order no.                   int64
Date               datetime64[ns]
Driver's name              object
Item                       object
Number of items             int64
Transport                  object
Destination                object
dtype: object

In [3]:
Retail.columns

Index(['Order no.', 'Date', 'Driver's name', 'Item', 'Number of items',
       'Transport', 'Destination'],
      dtype='object')

In [4]:
Retail.shape

(24, 7)

In [5]:
Retail["Destination"].value_counts()

NY              6
Philadelphia    6
Baltimore       5
Boston          4
Michigan        3
Name: Destination, dtype: int64

In [6]:
Retail["Number of items"].sum()

551

In [7]:
Retail["Item"].value_counts()

washing machine    8
TV                 6
refrigerator       5
microwave          5
Name: Item, dtype: int64

In [8]:
Retail.sort_values("Driver's name").reset_index(drop=True)

,Order no.,Date,Driver's name,Item,Number of items,Transport,Destination
0,100021,2013-02-08,Carl Nowak,microwave,30,truck 1,Michigan
1,100003,2013-02-02,Carl Nowak,washing machine,15,truck 3,Philadelphia
2,100006,2013-02-03,Carl Nowak,washing machine,18,truck 1,Baltimore
3,100008,2013-02-04,Carl Nowak,refrigerator,25,truck 3,Baltimore
4,100014,2013-02-05,Carl Nowak,TV,30,truck 4,Philadelphia
5,100024,2013-02-09,George Ramsay,washing machine,34,truck 3,Baltimore
6,100019,2013-02-08,George Ramsay,washing machine,13,truck 3,Baltimore
7,100005,2013-02-03,George Ramsay,refrigerator,25,truck 3,Boston
8,100010,2013-02-04,George Ramsay,refrigerator,15,truck 2,NY
9,100015,2013-02-05,George Ramsay,microwave,15,truck 3,Boston
10,100018,2013-02-07,John May,TV,30,truck 4,Philadelphia
11,100017,2013-02-06,John May,microwave,25,truck 1,NY
12,100001,2013-02-01,John May,TV,25,truck 4,Boston
13,100023,2013-02-08,John May,microwave,25,truck 4,Boston
14,100007,2013-02-03,John May,refrigerator,15,truck 2,Philadelphia
15,100013,2013-02-05,John May,washing machine,25,airplane,Baltimore
16,100012,2013-02-04,John May,washing machine,14,truck 4,NY
17,100011,2013-02-04,Mertl Pavel,microwave,25,truck 3,Philadelphia
18,100016,2013-02-05,Peter White,TV,15,truck 1,Michigan
19,100009,2013-02-04,Peter White,TV,30,truck 1,Michigan
20,100004,2013-02-03,Peter White,TV,32,truck 4,NY
21,100020,2013-02-08,Peter White,refrigerator,25,truck 2,Philadelphia
22,100002,2013-02-01,Peter White,washing machine,30,truck 3,NY
23,100022,2013-02-08,Peter White,washing machine,15,airplane,NY

In [9]:
sortedretail=Retail.sort_values("Driver's name").reset_index(drop=True)

In [10]:
sortedretail

,Order no.,Date,Driver's name,Item,Number of items,Transport,Destination
0,100021,2013-02-08,Carl Nowak,microwave,30,truck 1,Michigan
1,100003,2013-02-02,Carl Nowak,washing machine,15,truck 3,Philadelphia
2,100006,2013-02-03,Carl Nowak,washing machine,18,truck 1,Baltimore
3,100008,2013-02-04,Carl Nowak,refrigerator,25,truck 3,Baltimore
4,100014,2013-02-05,Carl Nowak,TV,30,truck 4,Philadelphia
5,100024,2013-02-09,George Ramsay,washing machine,34,truck 3,Baltimore
6,100019,2013-02-08,George Ramsay,washing machine,13,truck 3,Baltimore
7,100005,2013-02-03,George Ramsay,refrigerator,25,truck 3,Boston
8,100010,2013-02-04,George Ramsay,refrigerator,15,truck 2,NY
9,100015,2013-02-05,George Ramsay,microwave,15,truck 3,Boston
10,100018,2013-02-07,John May,TV,30,truck 4,Philadelphia
11,100017,2013-02-06,John May,microwave,25,truck 1,NY
12,100001,2013-02-01,John May,TV,25,truck 4,Boston
13,100023,2013-02-08,John May,microwave,25,truck 4,Boston
14,100007,2013-02-03,John May,refrigerator,15,truck 2,Philadelphia
15,100013,2013-02-05,John May,washing machine,25,airplane,Baltimore
16,100012,2013-02-04,John May,washing machine,14,truck 4,NY
17,100011,2013-02-04,Mertl Pavel,microwave,25,truck 3,Philadelphia
18,100016,2013-02-05,Peter White,TV,15,truck 1,Michigan
19,100009,2013-02-04,Peter White,TV,30,truck 1,Michigan
20,100004,2013-02-03,Peter White,TV,32,truck 4,NY
21,100020,2013-02-08,Peter White,refrigerator,25,truck 2,Philadelphia
22,100002,2013-02-01,Peter White,washing machine,30,truck 3,NY
23,100022,2013-02-08,Peter White,washing machine,15,airplane,NY

# LOCATING ROWS USING CONDITIONS

In [11]:
# EXTRACT ROWS WHERE DRIVERS NAME IS "JOHN MAY"

In [12]:
Retail["Driver's name"] == "John May"

0      True
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13    False
14    False
15    False
16     True
17     True
18    False
19    False
20    False
21    False
22     True
23    False
Name: Driver's name, dtype: bool

In [13]:
Retail.loc[Retail["Driver's name"] == "John May"]

,Order no.,Date,Driver's name,Item,Number of items,Transport,Destination
0,100001,2013-02-01,John May,TV,25,truck 4,Boston
6,100007,2013-02-03,John May,refrigerator,15,truck 2,Philadelphia
11,100012,2013-02-04,John May,washing machine,14,truck 4,NY
12,100013,2013-02-05,John May,washing machine,25,airplane,Baltimore
16,100017,2013-02-06,John May,microwave,25,truck 1,NY
17,100018,2013-02-07,John May,TV,30,truck 4,Philadelphia
22,100023,2013-02-08,John May,microwave,25,truck 4,Boston

In [14]:
#extract rows where number of items is 25 or more

In [15]:
Retail.loc[Retail["Number of items"]>25]

,Order no.,Date,Driver's name,Item,Number of items,Transport,Destination
1,100002,2013-02-01,Peter White,washing machine,30,truck 3,NY
3,100004,2013-02-03,Peter White,TV,32,truck 4,NY
8,100009,2013-02-04,Peter White,TV,30,truck 1,Michigan
13,100014,2013-02-05,Carl Nowak,TV,30,truck 4,Philadelphia
17,100018,2013-02-07,John May,TV,30,truck 4,Philadelphia
20,100021,2013-02-08,Carl Nowak,microwave,30,truck 1,Michigan
23,100024,2013-02-09,George Ramsay,washing machine,34,truck 3,Baltimore

In [16]:
#EXTRACT ROWS WHERE ITEMS IS WASHING MACHINE
Retail.loc[Retail["Item"]=="washing machine"]

,Order no.,Date,Driver's name,Item,Number of items,Transport,Destination
1,100002,2013-02-01,Peter White,washing machine,30,truck 3,NY
2,100003,2013-02-02,Carl Nowak,washing machine,15,truck 3,Philadelphia
5,100006,2013-02-03,Carl Nowak,washing machine,18,truck 1,Baltimore
11,100012,2013-02-04,John May,washing machine,14,truck 4,NY
12,100013,2013-02-05,John May,washing machine,25,airplane,Baltimore
18,100019,2013-02-08,George Ramsay,washing machine,13,truck 3,Baltimore
21,100022,2013-02-08,Peter White,washing machine,15,airplane,NY
23,100024,2013-02-09,George Ramsay,washing machine,34,truck 3,Baltimore

In [17]:
# GROUPING ITEMS IN A DATAFRAME COLUMN
# AN ARITHMETIC FUNCTION IS USED AFTER THE GROUPBY FUNCTION
 
Retail.groupby("Item").sum()

                 Order no.  Number of items
Item
TV                  600062              162
microwave           500087              120
refrigerator        500050              105
washing machine     800101              164

In [18]:
Retail.groupby("Destination").count()

              Order no.  Date  Driver's name  Item  Number of items  Transport
Destination
Baltimore             5     5              5     5                5          5
Boston                4     4              4     4                4          4
Michigan              3     3              3     3                3          3
NY                    6     6              6     6                6          6
Philadelphia          6     6              6     6                6          6

In [19]:
Retail.groupby("Destination").sum()

              Order no.  Number of items
Destination
Baltimore        500070              115
Boston           400044               90
Michigan         300046               75
NY               600067              131
Philadelphia     600073              140

In [20]:
Retail.groupby("Destination").max()

,Order no.,Date,Driver's name,Item,Number of items,Transport
Destination,,,,,,
Baltimore,100024,2013-02-09,John May,washing machine,34,truck 3
Boston,100023,2013-02-08,John May,refrigerator,25,truck 4
Michigan,100021,2013-02-08,Peter White,microwave,30,truck 1
NY,100022,2013-02-08,Peter White,washing machine,32,truck 4
Philadelphia,100020,2013-02-08,Peter White,washing machine,30,truck 4

In [21]:
fruit=pd.read_excel("fruit product data-2.xlsx")
fruit

       Unnamed: 0     Unnamed: 1
0             NaN            NaN
1      Row Labels  Sum of Amount
2          Canada          82338
3           Fruit          82338
4         Germany          66430
5           Fruit          66430
6  United Kingdom          87786
7           Fruit          87786
8     Grand Total         236554

# opening different sheets in a workbook

In [22]:
fruit=pd.read_excel("fruit product data-2.xlsx","Sheet1")
fruit

     Order ID     Product    Category  Amount Order Date        State
0           1     Carrots  Vegetables    4270 2012-01-06  Cross River
1           2  Water leaf  Vegetables    8239 2012-01-07        Lagos
2           3      Banana       Fruit     617 2012-01-08  Cross River
3           4      Banana       Fruit    8384 2012-01-10        Abuja
4           5       Beans  Vegetables    2626 2012-01-10         Ogun
..        ...         ...         ...     ...        ...          ...
208       209       Apple       Fruit    1777 2012-12-28       Bauchi
209       210       Beans  Vegetables     680 2012-12-28       Bauchi
210       211      Orange       Fruit     958 2012-12-29  Cross River
211       212     Carrots  Vegetables    2613 2012-12-29        Benue
212       213     Carrots  Vegetables     339 2012-12-30        Benue

[213 rows x 6 columns]

In [23]:
#nunique is usually used on a dataframe or a table
fruit.nunique()

Order ID      213
Product         7
Category        2
Amount        213
Order Date    150
State           7
dtype: int64

In [24]:
#unique is used on a column and shows the unique products in a column
# all unique products in a column
fruit["Product"].unique()

array(['Carrots', 'Water leaf', 'Banana', 'Beans', 'Orange', 'Apple',
       'Mango'], dtype=object)

In [25]:
#counts the amoount of times a product appears.value_counts
fruit["Product"].value_counts()

Banana        71
Apple         40
Water leaf    27
Carrots       27
Orange        24
Beans         13
Mango         11
Name: Product, dtype: int64

In [26]:
# total amounts for all products
fruit.groupby("Product").sum().reset_index()

      Product  Order ID  Amount
0       Apple      4306  191257
1      Banana      7648  340295
2       Beans      1381   57281
3     Carrots      3174  136945
4       Mango       918   57079
5      Orange      2785  104438
6  Water leaf      2579  142439

In [27]:
total=fruit.groupby("Product").sum().reset_index()
total

      Product  Order ID  Amount
0       Apple      4306  191257
1      Banana      7648  340295
2       Beans      1381   57281
3     Carrots      3174  136945
4       Mango       918   57079
5      Orange      2785  104438
6  Water leaf      2579  142439

In [49]:
#sum of amount by state
fruit.groupby("State").sum().reset_index()

         State  Amount  Order ID
0        Abuja   94745      1856
1       Bauchi  141056      2795
2        Benue  131713      3239
3  Cross River  267133      6049
4        Delta   66782      1516
5        Lagos  173137      3633
6         Ogun  155168      3703

In [50]:
#nlargest() is used to extract the largest column in the table
#nsmallest() is used to extract smallest column in a table
fruit.groupby("State").sum().nlargest(3,"Amount")

             Amount  Order ID
State
Cross River  267133      6049
Lagos        173137      3633
Ogun         155168      3703

In [30]:
fruit.groupby("State").sum().nsmallest(3,"Amount")

       Order ID  Amount
State
Delta      1516   66782
Abuja      1856   94745
Benue      3239  131713

# arranging the column in an ascending order

In [31]:
sorted(fruit)

['Amount', 'Category', 'Order Date', 'Order ID', 'Product', 'State']

In [32]:
#arrange the columnns
fruit= fruit[['Amount', 'Category', 'Order Date', 'Order ID', 'Product', 'State']]
fruit

     Amount    Category Order Date  Order ID     Product        State
0      4270  Vegetables 2012-01-06         1     Carrots  Cross River
1      8239  Vegetables 2012-01-07         2  Water leaf        Lagos
2       617       Fruit 2012-01-08         3      Banana  Cross River
3      8384       Fruit 2012-01-10         4      Banana        Abuja
4      2626  Vegetables 2012-01-10         5       Beans         Ogun
..      ...         ...        ...       ...         ...          ...
208    1777       Fruit 2012-12-28       209       Apple       Bauchi
209     680  Vegetables 2012-12-28       210       Beans       Bauchi
210     958       Fruit 2012-12-29       211      Orange  Cross River
211    2613  Vegetables 2012-12-29       212     Carrots        Benue
212     339  Vegetables 2012-12-30       213     Carrots        Benue

[213 rows x 6 columns]

In [33]:
#grouping 2 columns
#2 criteria
# when grouping two columns at a time use the ([]) together
fruit.groupby(["Product","State"]).sum()

                        Amount  Order ID
Product    State
Apple      Abuja         24867       585
           Bauchi        80193      1576
           Benue         20634       358
           Cross River   28615       571
           Delta         10332       252
           Lagos         17534       632
           Ogun           9082       332
Banana     Abuja         33775       577
           Bauchi        36094       726
           Benue         52721      1366
           Cross River   95061      2405
           Delta         40050       739
           Lagos         42908       637
           Ogun          39686      1198
Beans      Bauchi          680       210
           Benue         14433       407
           Cross River    7163        28
           Lagos          5100       228
           Ogun          29905       508
Carrots    Bauchi         9104       193
           Benue          8106       451
           Cross River   56284      1287
           Lagos         41815       612
           Ogun          21636       631
Mango      Abuja          3767       105
           Bauchi         7388        27
           Benue          9186       214
           Cross River   22363       410
           Lagos          5600        71
           Ogun           8775        91
Orange     Abuja         19929       358
           Bauchi         2256        21
           Benue          8680       323
           Cross River   30932       933
           Delta         12010       371
           Lagos         21744       732
           Ogun           8887        47
Water leaf Abuja         12407       231
           Bauchi         5341        42
           Benue         17953       120
           Cross River   26715       415
           Delta          4390       154
           Lagos         38436       721
           Ogun          37197       896

In [34]:
# apple sales in all states breakdown
fruit.groupby(["Product","State"]).sum().loc["Apple"]

             Amount  Order ID
State
Abuja         24867       585
Bauchi        80193      1576
Benue         20634       358
Cross River   28615       571
Delta         10332       252
Lagos         17534       632
Ogun           9082       332

In [35]:
fruit.groupby(["Product","State"]).sum()["Amount"]

Product     State
Apple       Abuja          24867
            Bauchi         80193
            Benue          20634
            Cross River    28615
            Delta          10332
            Lagos          17534
            Ogun            9082
Banana      Abuja          33775
            Bauchi         36094
            Benue          52721
            Cross River    95061
            Delta          40050
            Lagos          42908
            Ogun           39686
Beans       Bauchi           680
            Benue          14433
            Cross River     7163
            Lagos           5100
            Ogun           29905
Carrots     Bauchi          9104
            Benue           8106
            Cross River    56284
            Lagos          41815
            Ogun           21636
Mango       Abuja           3767
            Bauchi          7388
            Benue           9186
            Cross River    22363
            Lagos           5600
            Ogun            8775
Orange      Abuja          19929
            Bauchi          2256
            Benue           8680
            Cross River    30932
            Delta          12010
            Lagos          21744
            Ogun            8887
Water leaf  Abuja          12407
            Bauchi          5341
            Benue          17953
            Cross River    26715
            Delta           4390
            Lagos          38436
            Ogun           37197
Name: Amount, dtype: int64

In [36]:
#apple amount in ogun state

fruit.groupby(["Product","State"]).sum().loc["Apple"].loc["Ogun"]

Amount      9082
Order ID     332
Name: Ogun, dtype: int64

In [37]:
salary=pd.read_csv("Salary Data.csv")
salary

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [38]:
#show all rows in a dataframe
#set_option()is used to show all rows, columns,increase column width etc.
#none is used when number of rows not known
pd.set_option("display.max_rows",None) #displays all rows
pd.set_option("display.max_columns",None) #displays all columns
salary

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0
10,29.0,Male,Master's,Software Developer,3.0,75000.0
11,48.0,Female,Bachelor's,HR Manager,18.0,140000.0
12,35.0,Male,Bachelor's,Financial Analyst,6.0,65000.0
13,40.0,Female,Master's,Project Manager,14.0,130000.0
14,27.0,Male,Bachelor's,Customer Service Rep,2.0,40000.0
15,44.0,Male,Bachelor's,Operations Manager,16.0,125000.0
16,33.0,Female,Master's,Marketing Manager,7.0,90000.0
17,39.0,Male,PhD,Senior Engineer,12.0,115000.0
18,25.0,Female,Bachelor's,Data Entry Clerk,0.0,35000.0
19,51.0,Male,Bachelor's,Sales Director,22.0,180000.0
20,34.0,Female,Master's,Business Analyst,5.0,80000.0
21,47.0,Male,Master's,VP of Operations,19.0,190000.0
22,30.0,Male,Bachelor's,IT Support,2.0,50000.0
23,36.0,Female,Bachelor's,Recruiter,9.0,60000.0
24,41.0,Male,Master's,Financial Manager,13.0,140000.0
25,28.0,Female,Bachelor's,Social Media Specialist,3.0,45000.0
26,37.0,Female,Master's,Software Manager,11.0,110000.0
27,24.0,Male,Bachelor's,Junior Developer,1.0,40000.0
28,43.0,Female,PhD,Senior Consultant,15.0,140000.0
29,33.0,Male,Master's,Product Designer,6.0,90000.0
30,50.0,Male,Bachelor's,CEO,25.0,250000.0
31,31.0,Female,Bachelor's,Accountant,4.0,55000.0
32,29.0,Male,Master's,Data Scientist,3.0,75000.0
33,39.0,Female,Bachelor's,Marketing Specialist,10.0,65000.0
34,46.0,Male,PhD,Senior Manager,20.0,170000.0
35,27.0,Male,Bachelor's,Technical Writer,2.0,45000.0
36,35.0,Female,Bachelor's,HR Generalist,7.0,60000.0
37,42.0,Male,Master's,Project Engineer,14.0,115000.0
38,26.0,Female,Bachelor's,Customer Success Rep,1.0,40000.0
39,49.0,Male,Bachelor's,Sales Executive,21.0,160000.0
40,34.0,Female,Master's,UX Designer,5.0,80000.0
41,48.0,Male,Master's,Operations Director,18.0,190000.0
42,30.0,Male,Bachelor's,Network Engineer,3.0,60000.0
43,36.0,Female,Bachelor's,Administrative Assistant,8.0,45000.0
44,41.0,Male,Master's,Strategy Consultant,13.0,130000.0
45,28.0,Female,Bachelor's,Copywriter,2.0,40000.0
46,32.0,Male,Bachelor's,Account Manager,5.0,75000.0
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0
48,38.0,Male,PhD,Senior Scientist,11.0,120000.0
49,25.0,Male,Bachelor's,Help Desk Analyst,0.0,35000.0
50,51.0,Female,Bachelor's,Customer Service Manager,22.0,130000.0
51,33.0,Male,Master's,Business Intelligence Analyst,7.0,85000.0
52,40.0,Female,Bachelor's,Event Coordinator,12.0,60000.0
53,47.0,Male,Master's,VP of Finance,19.0,200000.0
54,29.0,Female,Bachelor's,Graphic Designer,3.0,50000.0
55,36.0,Male,Bachelor's,Sales Manager,9.0,95000.0
56,27.0,Female,Master's,UX Researcher,2.0,65000.0
57,43.0,Male,PhD,Senior Engineer,17.0,140000.0
58,30.0,Female,Bachelor's,Social Media Manager,4.0,55000.0
59,35.0,Male,Master's,Product Manager,7.0,105000.0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0
61,29.0,Male,Bachelor's,Marketing Analyst,3.0,50000.0
62,40.0,Female,Bachelor's,HR Manager,12.0,80000.0
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0
64,26.0,Male,Bachelor's,Junior Accountant,1.0,35000.0
65,38.0,Female,Master's,Digital Marketing Manager,10.0,90000.0
66,46.0,Male,Bachelor's,IT Manager,19.0,120000.0
67,31.0,Female,Bachelor's,Customer Service Representative,5.0,45000.0
68,34.0,Male,Master's,Business Development Manager,8.0,90000.0
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0
70,33.0,Male,Bachelor's,Web Developer,6.0,65000.0
71,39.0,Female,Bachelor's,Recruiter,11.0,70000.0
72,45.0,Male,PhD,Research Director,16.0,190000.0
73,28.0,Male,Bachelor's,Technical Support Specialist,2.0,40000.0
74,42.0,Female,Master's,Creative Director,14.0,120000.0
75,37.0,Male,Bachelor's,Project Manager,10.0,95000.0
76,50.0,Female,Bachelor's,Operations Manager,22.0,160000.0
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0
78,48.0,Female,Master's,Human Resources Director,20.0,180000.0
79,30.0,Female,Bachelor's,Content Marketing Manager,3.0,55000.0
80,36.0,Male,Bachelor's,Technical Recruiter,8.0,70000.0
81,41.0,Female,Master's,Data Analyst,13.0,80000.0
82,25.0,Male,Bachelor's,Sales Representative,0.0,30000.0
83,52.0,Male,PhD,Chief Technology Officer,24.0,250000.0
84,29.0,Female,Bachelor's,Junior Designer,2.0,40000.0
85,34.0,Female,Master's,Financial Advisor,10.0,95000.0
86,27.0,Male,Bachelor's,Junior Account Manager,2.0,45000.0
87,40.0,Female,Bachelor's,HR Generalist,15.0,80000.0
88,46.0,Male,Master's,Senior Project Manager,21.0,135000.0
89,31.0,Female,Bachelor's,Marketing Coordinator,6.0,55000.0
90,36.0,Male,PhD,Principal Scientist,11.0,120000.0
91,29.0,Female,Bachelor's,Sales Associate,3.0,40000.0
92,43.0,Male,Bachelor's,Supply Chain Manager,18.0,105000.0
93,52.0,Female,Master's,Senior Marketing Manager,25.0,170000.0
94,33.0,Male,Bachelor's,Business Analyst,7.0,75000.0
95,39.0,Female,Bachelor's,Training Specialist,12.0,65000.0
96,47.0,Male,PhD,Research Scientist,22.0,160000.0
97,26.0,Male,Bachelor's,Junior Software Developer,1.0,35000.0
98,38.0,Female,Master's,Public Relations Manager,10.0,90000.0
99,45.0,Male,Bachelor's,Operations Analyst,20.0,110000.0
100,31.0,Female,Bachelor's,Event Coordinator,5.0,45000.0
101,35.0,Male,Master's,Product Marketing Manager,8.0,95000.0
102,49.0,Female,Master's,Senior HR Manager,19.0,150000.0
103,33.0,Male,Bachelor's,Junior Web Developer,5.0,50000.0
104,39.0,Female,Master's,Senior Project Coordinator,13.0,80000.0
105,44.0,Male,PhD,Chief Data Officer,16.0,220000.0
106,30.0,Female,Bachelor's,Digital Content Producer,3.0,50000.0
107,36.0,Male,Bachelor's,IT Support Specialist,7.0,60000.0
108,41.0,Female,Master's,Senior Marketing Analyst,14.0,100000.0
109,28.0,Male,Bachelor's,Customer Success Manager,2.0,40000.0
110,42.0,Female,Master's,Senior Graphic Designer,15.0,110000.0
111,37.0,Male,Bachelor's,Software Project Manager,9.0,95000.0
112,50.0,Female,Bachelor's,Supply Chain Analyst,22.0,130000.0
113,32.0,Male,Master's,Senior Business Analyst,6.0,90000.0
114,23.0,Female,Bachelor's,Junior Marketing Analyst,0.5,35000.0
115,31.0,Male,Master's,Senior Financial Analyst,6.0,95000.0
116,40.0,Female,Bachelor's,Office Manager,15.0,65000.0
117,48.0,Male,PhD,Principal Engineer,20.0,170000.0
118,29.0,Female,Bachelor's,Junior HR Generalist,3.0,45000.0
119,35.0,Male,Master's,Senior Product Manager,10.0,120000.0
120,42.0,Female,Bachelor's,Sales Manager,17.0,100000.0
121,53.0,Male,Master's,Director of Marketing,25.0,180000.0
122,33.0,Female,Bachelor's,Junior Operations Analyst,5.0,50000.0
123,38.0,Male,Bachelor's,Customer Service Manager,11.0,80000.0
124,44.0,Female,PhD,Senior Scientist,16.0,140000.0
125,26.0,Male,Bachelor's,Junior Accountant,2.0,40000.0
126,37.0,Female,Master's,Senior HR Generalist,9.0,95000.0
127,45.0,Male,Bachelor's,Sales Operations Manager,18.0,110000.0
128,32.0,Female,Bachelor's,Marketing Coordinator,4.0,50000.0
129,34.0,Male,Master's,Senior Software Developer,8.0,105000.0
130,50.0,Female,Master's,Director of Operations,21.0,160000.0
131,29.0,Male,Bachelor's,Junior Web Designer,3.0,45000.0
132,40.0,Female,Master's,Senior Training Specialist,12.0,100000.0
133,47.0,Male,PhD,Senior Research Scientist,22.0,160000.0
134,27.0,Male,Bachelor's,Junior Sales Representative,1.0,35000.0
135,39.0,Female,Bachelor's,Administrative Assistant,10.0,55000.0
136,46.0,Male,Master's,Senior Project Manager,19.0,140000.0
137,30.0,Female,Bachelor's,Junior Marketing Manager,4.0,50000.0
138,36.0,Male,Bachelor's,Junior Data Analyst,7.0,60000.0
139,43.0,Female,Master's,Senior Product Marketing Manager,14.0,120000.0
140,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
141,41.0,Female,Master's,Senior Marketing Manager,13.0,110000.0
142,33.0,Male,Bachelor's,Junior Software Developer,5.0,50000.0
143,47.0,Male,Bachelor's,Senior Sales Manager,20.0,135000.0
144,25.0,Female,Master's,Junior Marketing Specialist,1.5,40000.0
145,34.0,Male,Bachelor's,Senior Business Analyst,8.0,90000.0
146,42.0,Female,PhD,Senior Data Scientist,16.0,150000.0
147,31.0,Male,Bachelor's,Junior Project Manager,4.0,60000.0
148,38.0,Female,Bachelor's,Senior Accountant,10.0,80000.0
149,45.0,Male,Master's,Director of Sales,19.0,175000.0
150,29.0,Female,Bachelor's,Junior Recruiter,3.0,45000.0
151,36.0,Male,Master's,Senior Business Development Manager,11.0,120000.0
152,43.0,Female,PhD,Senior Product Designer,18.0,140000.0
153,26.0,Male,Bachelor's,Junior Customer Support Specialist,2.0,35000.0
154,37.0,Female,Master's,Senior Marketing Analyst,9.0,95000.0
155,44.0,Male,Bachelor's,Senior IT Support Specialist,14.0,110000.0
156,32.0,Female,Bachelor's,Junior Financial Analyst,5.0,50000.0
157,33.0,Male,Master's,Senior Operations Manager,7.0,115000.0
158,51.0,Female,PhD,Director of Human Resources,23.0,185000.0
159,28.0,Male,Bachelor's,Junior Software Engineer,2.0,40000.0
160,39.0,Female,Bachelor's,Senior Sales Representative,12.0,90000.0
161,48.0,Male,Master's,Director of Product Management,21.0,175000.0
162,30.0,Female,Bachelor's,Junior Copywriter,3.0,45000.0
163,35.0,Male,Bachelor's,Senior Marketing Coordinator,7.0,80000.0
164,41.0,Female,Master's,Senior Human Resources Manager,13.0,120000.0
165,27.0,Male,Bachelor's,Junior Business Development Associate,1.5,35000.0
166,40.0,Female,Bachelor's,Senior Account Manager,14.0,110000.0
167,46.0,Male,PhD,Senior Researcher,18.0,150000.0
168,31.0,Female,Bachelor's,Junior HR Coordinator,4.0,50000.0
169,34.0,Male,Master's,Senior Software Engineer,9.0,105000.0
170,50.0,Female,Master's,Director of Finance,20.0,180000.0
171,29.0,Male,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
172,NaN,NaN,NaN,NaN,NaN,NaN
173,43.0,Male,Bachelor's,Senior Project Manager,16.0,140000.0
174,26.0,Female,Master's,Junior Data Scientist,1.5,45000.0
175,35.0,Male,Bachelor's,Senior Operations Analyst,7.0,85000.0
176,42.0,Female,PhD,Senior Marketing Manager,18.0,140000.0
177,31.0,Male,Bachelor's,Junior Accountant,4.0,50000.0
178,38.0,Female,Bachelor's,Senior Human Resources Coordinator,10.0,80000.0
179,46.0,Male,Master's,Director of Operations,20.0,170000.0
180,29.0,Female,Bachelor's,Junior Sales Representative,2.0,40000.0
181,37.0,Male,Master's,Senior Business Analyst,9.0,105000.0
182,44.0,Female,PhD,Senior UX Designer,15.0,145000.0
183,27.0,Male,Bachelor's,Junior Product Manager,2.0,40000.0
184,36.0,Female,Bachelor's,Senior Marketing Specialist,8.0,85000.0
185,43.0,Male,Bachelor's,Senior IT Project Manager,14.0,130000.0
186,33.0,Female,Master's,Senior Financial Analyst,6.0,95000.0
187,34.0,Male,Bachelor's,Senior Quality Assurance Analyst,9.0,100000.0
188,50.0,Female,PhD,Director of Sales and Marketing,22.0,180000.0
189,28.0,Male,Bachelor's,Junior Operations Analyst,1.5,35000.0
190,39.0,Female,Bachelor's,Senior Account Executive,12.0,95000.0
191,47.0,Male,Master's,Director of Business Development,19.0,170000.0
192,30.0,Female,Bachelor's,Junior Social Media Manager,3.0,45000.0
193,34.0,Male,Bachelor's,Senior Product Manager,7.0,95000.0
194,40.0,Female,Master's,Senior Human Resources Specialist,13.0,120000.0
195,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
196,41.0,Female,Bachelor's,Senior Marketing Coordinator,11.0,90000.0
197,45.0,Male,PhD,Senior Data Analyst,17.0,155000.0
198,32.0,Female,Bachelor's,Junior Account Manager,5.0,55000.0
199,35.0,Male,Master's,Senior Software Developer,9.0,110000.0
200,49.0,Female,Master's,Director of Human Capital,21.0,180000.0
201,30.0,Male,Bachelor's,Junior Advertising Coordinator,3.0,45000.0
202,44.0,Male,Bachelor's,Senior Sales Manager,16.0,130000.0
203,27.0,Female,Master's,Junior UX Designer,1.5,45000.0
204,36.0,Male,Bachelor's,Senior Accountant,7.0,90000.0
205,41.0,Female,PhD,Senior Marketing Director,17.0,160000.0
206,31.0,Male,Bachelor's,Junior HR Generalist,4.0,50000.0
207,39.0,Female,Bachelor's,Senior Operations Manager,10.0,120000.0
208,47.0,Male,Master's,Director of Finance,20.0,170000.0
209,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
210,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
211,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
212,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
213,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
214,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
215,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
216,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
217,50.0,Female,PhD,Director of Operations,22.0,180000.0
218,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,35000.0
219,40.0,Female,Bachelor's,Senior Sales Representative,12.0,100000.0
220,48.0,Male,Master's,Director of Marketing,19.0,170000.0
221,31.0,Female,Bachelor's,Junior Social Media Specialist,3.0,45000.0
222,33.0,Male,Bachelor's,Senior Product Development Manager,7.0,100000.0
223,42.0,Female,Master's,Senior Human Resources Manager,13.0,140000.0
224,28.0,Male,Bachelor's,Junior Financial Analyst,2.0,40000.0
225,40.0,Female,Bachelor's,Senior Marketing Manager,11.0,105000.0
226,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
227,33.0,Female,Bachelor's,Junior Operations Manager,5.0,70000.0
228,37.0,Male,Master's,Senior Software Architect,9.0,120000.0
229,51.0,Female,Master's,Director of Human Resources,21.0,190000.0
230,30.0,Male,Bachelor's,Junior Marketing Specialist,3.0,45000.0
231,43.0,Male,Bachelor's,Senior Project Manager,15.0,120000.0
232,27.0,Female,Master's,Junior Research Scientist,1.5,50000.0
233,35.0,Male,Bachelor's,Senior Operations Analyst,8.0,85000.0
234,42.0,Female,PhD,Senior Marketing Manager,13.0,140000.0
235,32.0,Male,Bachelor's,Junior Sales Representative,3.0,45000.0
236,37.0,Female,Bachelor's,Senior Financial Analyst,9.0,100000.0
237,45.0,Male,Master's,Senior Software Developer,16.0,140000.0
238,33.0,Female,Bachelor's,Junior Operations Analyst,5.0,70000.0
239,39.0,Male,Bachelor's,Senior Marketing Specialist,10.0,120000.0
240,44.0,Female,PhD,Senior HR Manager,18.0,160000.0
241,29.0,Male,Bachelor's,Junior Business Analyst,1.5,40000.0
242,38.0,Female,Bachelor's,Senior Product Manager,10.0,120000.0
243,46.0,Male,PhD,Senior Data Analyst,19.0,150000.0
244,34.0,Female,Bachelor's,Junior Marketing Analyst,6.0,70000.0
245,36.0,Male,Bachelor's,Senior Operations Manager,8.0,95000.0
246,49.0,Female,Master's,Director of Marketing,21.0,180000.0
247,31.0,Male,Bachelor's,Junior Financial Analyst,3.0,50000.0
248,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
249,47.0,Male,Master's,Director of Operations,20.0,170000.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
251,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
252,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
253,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
254,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
255,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
256,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
257,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
258,50.0,Female,PhD,Director of Operations,22.0,180000.0
259,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,350.0
260,NaN,NaN,NaN,NaN,NaN,NaN
261,37.0,Female,Bachelor's,Senior Financial Manager,10.0,120000.0
262,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
263,31.0,Female,Bachelor's,Junior Marketing Coordinator,3.0,50000.0
264,42.0,Male,Bachelor's,Senior Operations Manager,12.0,110000.0
265,29.0,Female,Bachelor's,Junior Sales Representative,1.5,40000.0
266,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
267,44.0,Female,Master's,Senior HR Specialist,15.0,140000.0
268,33.0,Male,Bachelor's,Junior Operations Manager,4.0,60000.0
269,39.0,Female,Bachelor's,Senior Marketing Coordinator,9.0,110000.0
270,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
271,32.0,Female,Bachelor's,Junior Marketing Manager,4.0,60000.0
272,37.0,Male,Bachelor's,Senior Financial Analyst,8.0,90000.0
273,47.0,Female,Master's,Director of Marketing,20.0,180000.0
274,30.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
275,38.0,Female,Bachelor's,Senior Project Manager,9.0,120000.0
276,46.0,Male,PhD,Senior Data Analyst,17.0,160000.0
277,34.0,Female,Bachelor's,Junior Financial Analyst,5.0,70000.0
278,36.0,Male,Bachelor's,Senior Product Manager,8.0,95000.0
279,49.0,Female,Master's,Director of Operations,21.0,180000.0
280,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
281,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
282,47.0,Male,Master's,Director of Marketing,19.0,170000.0
283,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
284,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
285,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
286,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
287,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
288,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
289,32.0,Male,Bachelor's,Junior Product Manager,4.0,65000.0
290,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
291,49.0,Male,PhD,Director of Operations,21.0,180000.0
292,29.0,Female,Bachelor's,Junior Marketing Specialist,2.0,40000.0
293,35.0,Male,Bachelor's,Senior Business Development Manager,7.0,90000.0
294,45.0,Female,Master's,Senior HR Manager,14.0,140000.0
295,33.0,Male,Bachelor's,Junior Financial Analyst,4.0,60000.0
296,40.0,Female,Bachelor's,Senior Marketing Manager,12.0,130000.0
297,44.0,Male,PhD,Senior Data Scientist,16.0,160000.0
298,30.0,Female,Bachelor's,Junior Operations Coordinator,2.0,40000.0
299,37.0,Male,Bachelor's,Senior Marketing Analyst,9.0,100000.0
300,48.0,Female,Master's,Director of HR,20.0,180000.0
301,31.0,Male,Bachelor's,Junior Project Manager,3.0,55000.0
302,38.0,Female,Bachelor's,Senior Operations Coordinator,9.0,120000.0
303,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
304,33.0,Female,Bachelor's,Junior Marketing Manager,5.0,70000.0
305,36.0,Male,Bachelor's,Senior Business Analyst,8.0,95000.0
306,49.0,Female,Master's,Director of Marketing,21.0,180000.0
307,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
308,42.0,Female,Bachelor's,Senior Project Manager,12.0,120000.0
309,47.0,Male,Master's,Director of Marketing,19.0,170000.0
310,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
311,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
312,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
313,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
314,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
315,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
316,34.0,Female,Master's,Senior Financial Advisor,6.0,80000.0
317,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
318,30.0,Female,Bachelor's,Junior HR Coordinator,2.0,40000.0
319,37.0,Male,Bachelor's,Senior Business Development Manager,10.0,120000.0
320,45.0,Female,Master's,Senior Marketing Manager,16.0,160000.0
321,32.0,Male,Bachelor's,Junior Financial Advisor,4.0,65000.0
322,39.0,Female,Bachelor's,Senior Project Manager,12.0,130000.0
323,47.0,Male,PhD,Director of Engineering,20.0,180000.0
324,29.0,Female,Bachelor's,Junior Marketing Analyst,2.0,40000.0
325,36.0,Male,Bachelor's,Senior Operations Manager,9.0,100000.0
326,43.0,Female,PhD,Senior Data Scientist,15.0,150000.0
327,32.0,Male,Bachelor's,Junior Marketing Coordinator,3.0,55000.0
328,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
329,48.0,Male,Master's,Director of Marketing,21.0,180000.0
330,31.0,Female,Bachelor's,Junior Business Development Associate,3.0,50000.0
331,40.0,Male,Bachelor's,Senior Financial Analyst,12.0,130000.0

# capitalize all column names in a dataframe

In [39]:
salary.columns.str.upper()

Index(['AGE', 'GENDER', 'EDUCATION LEVEL', 'JOB TITLE', 'YEARS OF EXPERIENCE',
       'SALARY'],
      dtype='object')

In [40]:
salary.columns=salary.columns.str.upper()
salary.columns

Index(['AGE', 'GENDER', 'EDUCATION LEVEL', 'JOB TITLE', 'YEARS OF EXPERIENCE',
       'SALARY'],
      dtype='object')

In [41]:
job_title=salary["JOB TITLE"].str.upper()
job_title

0                          SOFTWARE ENGINEER
1                               DATA ANALYST
2                             SENIOR MANAGER
3                            SALES ASSOCIATE
4                                   DIRECTOR
5                          MARKETING ANALYST
6                            PRODUCT MANAGER
7                              SALES MANAGER
8                      MARKETING COORDINATOR
9                           SENIOR SCIENTIST
10                        SOFTWARE DEVELOPER
11                                HR MANAGER
12                         FINANCIAL ANALYST
13                           PROJECT MANAGER
14                      CUSTOMER SERVICE REP
15                        OPERATIONS MANAGER
16                         MARKETING MANAGER
17                           SENIOR ENGINEER
18                          DATA ENTRY CLERK
19                            SALES DIRECTOR
20                          BUSINESS ANALYST
21                          VP OF OPERATIONS
22                                IT SUPPORT
23                                 RECRUITER
24                         FINANCIAL MANAGER
25                   SOCIAL MEDIA SPECIALIST
26                          SOFTWARE MANAGER
27                          JUNIOR DEVELOPER
28                         SENIOR CONSULTANT
29                          PRODUCT DESIGNER
30                                       CEO
31                                ACCOUNTANT
32                            DATA SCIENTIST
33                      MARKETING SPECIALIST
34                            SENIOR MANAGER
35                          TECHNICAL WRITER
36                             HR GENERALIST
37                          PROJECT ENGINEER
38                      CUSTOMER SUCCESS REP
39                           SALES EXECUTIVE
40                               UX DESIGNER
41                       OPERATIONS DIRECTOR
42                          NETWORK ENGINEER
43                  ADMINISTRATIVE ASSISTANT
44                       STRATEGY CONSULTANT
45                                COPYWRITER
46                           ACCOUNT MANAGER
47                     DIRECTOR OF MARKETING
48                          SENIOR SCIENTIST
49                         HELP DESK ANALYST
50                  CUSTOMER SERVICE MANAGER
51             BUSINESS INTELLIGENCE ANALYST
52                         EVENT COORDINATOR
53                             VP OF FINANCE
54                          GRAPHIC DESIGNER
55                             SALES MANAGER
56                             UX RESEARCHER
57                           SENIOR ENGINEER
58                      SOCIAL MEDIA MANAGER
59                           PRODUCT MANAGER
60                    DIRECTOR OF OPERATIONS
61                         MARKETING ANALYST
62                                HR MANAGER
63                     SENIOR DATA SCIENTIST
64                         JUNIOR ACCOUNTANT
65                 DIGITAL MARKETING MANAGER
66                                IT MANAGER
67           CUSTOMER SERVICE REPRESENTATIVE
68              BUSINESS DEVELOPMENT MANAGER
69                  SENIOR FINANCIAL ANALYST
70                             WEB DEVELOPER
71                                 RECRUITER
72                         RESEARCH DIRECTOR
73              TECHNICAL SUPPORT SPECIALIST
74                         CREATIVE DIRECTOR
75                           PROJECT MANAGER
76                        OPERATIONS MANAGER
77                  SENIOR SOFTWARE ENGINEER
78                  HUMAN RESOURCES DIRECTOR
79                 CONTENT MARKETING MANAGER
80                       TECHNICAL RECRUITER
81                              DATA ANALYST
82                      SALES REPRESENTATIVE
83                  CHIEF TECHNOLOGY OFFICER
84                           JUNIOR DESIGNER
85                         FINANCIAL ADVISOR
86                    JUNIOR ACCOUNT MANAGER
87                             HR GENERALIST
88                    SENIOR PROJECT MANAGER
89                     MARKETING COORDINATOR
90                       PRINCIPAL SCIENTIST
91                           SALES ASSOCIATE
92                      SUPPLY CHAIN MANAGER
93                  SENIOR MARKETING MANAGER
94                          BUSINESS ANALYST
95                       TRAINING SPECIALIST
96                        RESEARCH SCIENTIST
97                 JUNIOR SOFTWARE DEVELOPER
98                  PUBLIC RELATIONS MANAGER
99                        OPERATIONS ANALYST
100                        EVENT COORDINATOR
101                PRODUCT MARKETING MANAGER
102                        SENIOR HR MANAGER
103                     JUNIOR WEB DEVELOPER
104               SENIOR PROJECT COORDINATOR
105                       CHIEF DATA OFFICER
106                 DIGITAL CONTENT PRODUCER
107                    IT SUPPORT SPECIALIST
108                 SENIOR MARKETING ANALYST
109                 CUSTOMER SUCCESS MANAGER
110                  SENIOR GRAPHIC DESIGNER
111                 SOFTWARE PROJECT MANAGER
112                     SUPPLY CHAIN ANALYST
113                  SENIOR BUSINESS ANALYST
114                 JUNIOR MARKETING ANALYST
115                 SENIOR FINANCIAL ANALYST
116                           OFFICE MANAGER
117                       PRINCIPAL ENGINEER
118                     JUNIOR HR GENERALIST
119                   SENIOR PRODUCT MANAGER
120                            SALES MANAGER
121                    DIRECTOR OF MARKETING
122                JUNIOR OPERATIONS ANALYST
123                 CUSTOMER SERVICE MANAGER
124                         SENIOR SCIENTIST
125                        JUNIOR ACCOUNTANT
126                     SENIOR HR GENERALIST
127                 SALES OPERATIONS MANAGER
128                    MARKETING COORDINATOR
129                SENIOR SOFTWARE DEVELOPER
130                   DIRECTOR OF OPERATIONS
131                      JUNIOR WEB DESIGNER
132               SENIOR TRAINING SPECIALIST
133                SENIOR RESEARCH SCIENTIST
134              JUNIOR SALES REPRESENTATIVE
135                 ADMINISTRATIVE ASSISTANT
136                   SENIOR PROJECT MANAGER
137                 JUNIOR MARKETING MANAGER
138                      JUNIOR DATA ANALYST
139         SENIOR PRODUCT MARKETING MANAGER
140                  JUNIOR BUSINESS ANALYST
141                 SENIOR MARKETING MANAGER
142                JUNIOR SOFTWARE DEVELOPER
143                     SENIOR SALES MANAGER
144              JUNIOR MARKETING SPECIALIST
145                  SENIOR BUSINESS ANALYST
146                    SENIOR DATA SCIENTIST
147                   JUNIOR PROJECT MANAGER
148                        SENIOR ACCOUNTANT
149                        DIRECTOR OF SALES
150                         JUNIOR RECRUITER
151      SENIOR BUSINESS DEVELOPMENT MANAGER
152                  SENIOR PRODUCT DESIGNER
153       JUNIOR CUSTOMER SUPPORT SPECIALIST
154                 SENIOR MARKETING ANALYST
155             SENIOR IT SUPPORT SPECIALIST
156                 JUNIOR FINANCIAL ANALYST
157                SENIOR OPERATIONS MANAGER
158              DIRECTOR OF HUMAN RESOURCES
159                 JUNIOR SOFTWARE ENGINEER
160              SENIOR SALES REPRESENTATIVE
161           DIRECTOR OF PRODUCT MANAGEMENT
162                        JUNIOR COPYWRITER
163             SENIOR MARKETING COORDINATOR
164           SENIOR HUMAN RESOURCES MANAGER
165    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
166                   SENIOR ACCOUNT MANAGER
167                        SENIOR RESEARCHER
168                    JUNIOR HR COORDINATOR
169                 SENIOR SOFTWARE ENGINEER
170                      DIRECTOR OF FINANCE
171             JUNIOR MARKETING COORDINATOR
172                                      NaN
173                   SENIOR PROJECT MANAGER
174                    JUNIOR DATA SCIENTIST
175                SENIOR OPERATIONS ANALYST
176                 SENIOR MARKETING MANAGER
177                        JUNIOR ACCOUNTANT
178       SENIOR HUMAN RESOURCES COORDINATOR
179                   DIRECTOR OF OPERATIONS
180              JUNIOR SALES REPRESENTATIVE
181                  SENIOR BUSINESS ANALYST
182                       SENIOR UX DESIGNER
183                   JUNIOR PRODUCT MANAGER
184              SENIOR MARKETING SPECIALIST
185                SENIOR IT PROJECT MANAGER
186                 SENIOR FINANCIAL ANALYST
187         SENIOR QUALITY ASSURANCE ANALYST
188          DIRECTOR OF SALES AND MARKETING
189                JUNIOR OPERATIONS ANALYST
190                 SENIOR ACCOUNT EXECUTIVE
191         DIRECTOR OF BUSINESS DEVELOPMENT
192              JUNIOR SOCIAL MEDIA MANAGER
193                   SENIOR PRODUCT MANAGER
194        SENIOR HUMAN RESOURCES SPECIALIST
195                  JUNIOR BUSINESS ANALYST
196             SENIOR MARKETING COORDINATOR
197                      SENIOR DATA ANALYST
198                   JUNIOR ACCOUNT MANAGER
199                SENIOR SOFTWARE DEVELOPER
200                DIRECTOR OF HUMAN CAPITAL
201           JUNIOR ADVERTISING COORDINATOR
202                     SENIOR SALES MANAGER
203                       JUNIOR UX DESIGNER
204                        SENIOR ACCOUNTANT
205                SENIOR MARKETING DIRECTOR
206                     JUNIOR HR GENERALIST
207                SENIOR OPERATIONS MANAGER
208                      DIRECTOR OF FINANCE
209             JUNIOR MARKETING COORDINATOR
210                     SENIOR IT CONSULTANT
211                  SENIOR PRODUCT DESIGNER
212    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
213                 SENIOR MARKETING ANALYST
214                 SENIOR SOFTWARE ENGINEER
215                 SENIOR FINANCIAL ADVISOR
216               SENIOR PROJECT COORDINATOR
217                   DIRECTOR OF OPERATIONS
218       JUNIOR BUSINESS OPERATIONS ANALYST
219              SENIOR SALES REPRESENTATIVE
220                    DIRECTOR OF MARKETING
221           JUNIOR SOCIAL MEDIA SPECIALIST
222       SENIOR PRODUCT DEVELOPMENT MANAGER
223           SENIOR HUMAN RESOURCES MANAGER
224                 JUNIOR FINANCIAL ANALYST
225                 SENIOR MARKETING MANAGER
226                    SENIOR DATA SCIENTIST
227                JUNIOR OPERATIONS MANAGER
228                SENIOR SOFTWARE ARCHITECT
229              DIRECTOR OF HUMAN RESOURCES
230              JUNIOR MARKETING SPECIALIST
231                   SENIOR PROJECT MANAGER
232                JUNIOR RESEARCH SCIENTIST
233                SENIOR OPERATIONS ANALYST
234                 SENIOR MARKETING MANAGER
235              JUNIOR SALES REPRESENTATIVE
236                 SENIOR FINANCIAL ANALYST
237                SENIOR SOFTWARE DEVELOPER
238                JUNIOR OPERATIONS ANALYST
239              SENIOR MARKETING SPECIALIST
240                        SENIOR HR MANAGER
241                  JUNIOR BUSINESS ANALYST
242                   SENIOR PRODUCT MANAGER
243                      SENIOR DATA ANALYST
244                 JUNIOR MARKETING ANALYST
245                SENIOR OPERATIONS MANAGER
246                    DIRECTOR OF MARKETING
247                 JUNIOR FINANCIAL ANALYST
248               SENIOR PROJECT COORDINATOR
249                   DIRECTOR OF OPERATIONS
250             JUNIOR MARKETING COORDINATOR
251                     SENIOR IT CONSULTANT
252                  SENIOR PRODUCT DESIGNER
253    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
254                 SENIOR MARKETING ANALYST
255                 SENIOR SOFTWARE ENGINEER
256                 SENIOR FINANCIAL ADVISOR
257               SENIOR PROJECT COORDINATOR
258                   DIRECTOR OF OPERATIONS
259       JUNIOR BUSINESS OPERATIONS ANALYST
260                                      NaN
261                 SENIOR FINANCIAL MANAGER
262                    SENIOR DATA SCIENTIST
263             JUNIOR MARKETING COORDINATOR
264                SENIOR OPERATIONS MANAGER
265              JUNIOR SALES REPRESENTATIVE
266              SENIOR MARKETING SPECIALIST
267                     SENIOR HR SPECIALIST
268                JUNIOR OPERATIONS MANAGER
269             SENIOR MARKETING COORDINATOR
270                     SENIOR DATA ENGINEER
271                 JUNIOR MARKETING MANAGER
272                 SENIOR FINANCIAL ANALYST
273                    DIRECTOR OF MARKETING
274                  JUNIOR BUSINESS ANALYST
275                   SENIOR PROJECT MANAGER
276                      SENIOR DATA ANALYST
277                 JUNIOR FINANCIAL ANALYST
278                   SENIOR PRODUCT MANAGER
279                   DIRECTOR OF OPERATIONS
280                JUNIOR OPERATIONS ANALYST
281               SENIOR PROJECT COORDINATOR
282                    DIRECTOR OF MARKETING
283    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
284                 SENIOR FINANCIAL MANAGER
285                  SENIOR PRODUCT DESIGNER
286                  JUNIOR BUSINESS ANALYST
287                 SENIOR MARKETING ANALYST
288                 SENIOR SOFTWARE ENGINEER
289                   JUNIOR PRODUCT MANAGER
290                  SENIOR BUSINESS ANALYST
291                   DIRECTOR OF OPERATIONS
292              JUNIOR MARKETING SPECIALIST
293      SENIOR BUSINESS DEVELOPMENT MANAGER
294                        SENIOR HR MANAGER
295                 JUNIOR FINANCIAL ANALYST
296                 SENIOR MARKETING MANAGER
297                    SENIOR DATA SCIENTIST
298            JUNIOR OPERATIONS COORDINATOR
299                 SENIOR MARKETING ANALYST
300                           DIRECTOR OF HR
301                   JUNIOR PROJECT MANAGER
302            SENIOR OPERATIONS COORDINATOR
303                     SENIOR DATA ENGINEER
304                 JUNIOR MARKETING MANAGER
305                  SENIOR BUSINESS ANALYST
306                    DIRECTOR OF MARKETING
307                JUNIOR OPERATIONS ANALYST
308                   SENIOR PROJECT MANAGER
309                    DIRECTOR OF MARKETING
310    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
311                 SENIOR FINANCIAL MANAGER
312                  SENIOR PRODUCT DESIGNER
313                  JUNIOR BUSINESS ANALYST
314                 SENIOR MARKETING ANALYST
315                 SENIOR SOFTWARE ENGINEER
316                 SENIOR FINANCIAL ADVISOR
317              SENIOR MARKETING SPECIALIST
318                    JUNIOR HR COORDINATOR
319      SENIOR BUSINESS DEVELOPMENT MANAGER
320                 SENIOR MARKETING MANAGER
321                 JUNIOR FINANCIAL ADVISOR
322                   SENIOR PROJECT MANAGER
323                  DIRECTOR OF ENGINEERING
324                 JUNIOR MARKETING ANALYST
325                SENIOR OPERATIONS MANAGER
326                    SENIOR DATA SCIENTIST
327             JUNIOR MARKETING COORDINATOR
328                  SENIOR BUSINESS ANALYST
329                    DIRECTOR OF MARKETING
330    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
331                 SENIOR FINANCIAL ANALYST
332                       SENIOR UX DESIGNER
333                   JUNIOR PRODUCT MANAGER
334                 SENIOR MARKETING MANAGER
335                   DIRECTOR OF OPERATIONS
336                   JUNIOR PROJECT MANAGER
337            SENIOR OPERATIONS COORDINATOR
338                  SENIOR BUSINESS ANALYST
339              JUNIOR MARKETING SPECIALIST
340                 SENIOR FINANCIAL MANAGER
341                    DIRECTOR OF MARKETING
342                 JUNIOR FINANCIAL ANALYST
343                   SENIOR PRODUCT MANAGER
344                     SENIOR DATA ENGINEER
345                  JUNIOR BUSINESS ANALYST
346                 SENIOR MARKETING ANALYST
347                  DIRECTOR OF ENGINEERING
348                JUNIOR OPERATIONS MANAGER
349      SENIOR BUSINESS DEVELOPMENT MANAGER
350                    SENIOR DATA SCIENTIST
351             JUNIOR MARKETING COORDINATOR
352                  SENIOR BUSINESS ANALYST
353                    DIRECTOR OF MARKETING
354    JUNIOR BUSINESS DEVELOPMENT ASSOCIATE
355                 SENIOR FINANCIAL ANALYST
356                       SENIOR UX DESIGNER
357                   JUNIOR PRODUCT MANAGER
358                 SENIOR MARKETING MANAGER
359                   DIRECTOR OF OPERATIONS
360                   JUNIOR PROJECT MANAGER
361            SENIOR OPERATIONS COORDINATOR
362                  SENIOR BUSINESS ANALYST
363              JUNIOR MARKETING SPECIALIST
364                 SENIOR FINANCIAL MANAGER
365                    DIRECTOR OF MARKETING
366                 JUNIOR FINANCIAL ANALYST
367                   SENIOR PRODUCT MANAGER
368                     SENIOR DATA ENGINEER
369                  JUNIOR BUSINESS ANALYST
370                 SENIOR MARKETING ANALYST
371                   DIRECTOR OF OPERATIONS
372                   JUNIOR PROJECT MANAGER
373            SENIOR OPERATIONS COORDINATOR
374                  SENIOR BUSINESS ANALYST
Name: JOB TITLE, dtype: object

In [42]:
# check for erors in column names
salary.columns.str.isalpha()

array([ True,  True, False, False, False,  True])

In [43]:
#renaming a column using .rename
# rename is a dictionary function so uses curly bracket{}

salary.rename(columns={"EDUCATIONAL LEVEL":"EDUCATION","GENDER":"SEX"})
salary=salary.rename(columns={"EDUCATIONAL LEVEL":"EDUCATION","GENDER":"SEX"})
salary

,AGE,SEX,EDUCATION LEVEL,JOB TITLE,YEARS OF EXPERIENCE,SALARY
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0
10,29.0,Male,Master's,Software Developer,3.0,75000.0
11,48.0,Female,Bachelor's,HR Manager,18.0,140000.0
12,35.0,Male,Bachelor's,Financial Analyst,6.0,65000.0
13,40.0,Female,Master's,Project Manager,14.0,130000.0
14,27.0,Male,Bachelor's,Customer Service Rep,2.0,40000.0
15,44.0,Male,Bachelor's,Operations Manager,16.0,125000.0
16,33.0,Female,Master's,Marketing Manager,7.0,90000.0
17,39.0,Male,PhD,Senior Engineer,12.0,115000.0
18,25.0,Female,Bachelor's,Data Entry Clerk,0.0,35000.0
19,51.0,Male,Bachelor's,Sales Director,22.0,180000.0
20,34.0,Female,Master's,Business Analyst,5.0,80000.0
21,47.0,Male,Master's,VP of Operations,19.0,190000.0
22,30.0,Male,Bachelor's,IT Support,2.0,50000.0
23,36.0,Female,Bachelor's,Recruiter,9.0,60000.0
24,41.0,Male,Master's,Financial Manager,13.0,140000.0
25,28.0,Female,Bachelor's,Social Media Specialist,3.0,45000.0
26,37.0,Female,Master's,Software Manager,11.0,110000.0
27,24.0,Male,Bachelor's,Junior Developer,1.0,40000.0
28,43.0,Female,PhD,Senior Consultant,15.0,140000.0
29,33.0,Male,Master's,Product Designer,6.0,90000.0
30,50.0,Male,Bachelor's,CEO,25.0,250000.0
31,31.0,Female,Bachelor's,Accountant,4.0,55000.0
32,29.0,Male,Master's,Data Scientist,3.0,75000.0
33,39.0,Female,Bachelor's,Marketing Specialist,10.0,65000.0
34,46.0,Male,PhD,Senior Manager,20.0,170000.0
35,27.0,Male,Bachelor's,Technical Writer,2.0,45000.0
36,35.0,Female,Bachelor's,HR Generalist,7.0,60000.0
37,42.0,Male,Master's,Project Engineer,14.0,115000.0
38,26.0,Female,Bachelor's,Customer Success Rep,1.0,40000.0
39,49.0,Male,Bachelor's,Sales Executive,21.0,160000.0
40,34.0,Female,Master's,UX Designer,5.0,80000.0
41,48.0,Male,Master's,Operations Director,18.0,190000.0
42,30.0,Male,Bachelor's,Network Engineer,3.0,60000.0
43,36.0,Female,Bachelor's,Administrative Assistant,8.0,45000.0
44,41.0,Male,Master's,Strategy Consultant,13.0,130000.0
45,28.0,Female,Bachelor's,Copywriter,2.0,40000.0
46,32.0,Male,Bachelor's,Account Manager,5.0,75000.0
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0
48,38.0,Male,PhD,Senior Scientist,11.0,120000.0
49,25.0,Male,Bachelor's,Help Desk Analyst,0.0,35000.0
50,51.0,Female,Bachelor's,Customer Service Manager,22.0,130000.0
51,33.0,Male,Master's,Business Intelligence Analyst,7.0,85000.0
52,40.0,Female,Bachelor's,Event Coordinator,12.0,60000.0
53,47.0,Male,Master's,VP of Finance,19.0,200000.0
54,29.0,Female,Bachelor's,Graphic Designer,3.0,50000.0
55,36.0,Male,Bachelor's,Sales Manager,9.0,95000.0
56,27.0,Female,Master's,UX Researcher,2.0,65000.0
57,43.0,Male,PhD,Senior Engineer,17.0,140000.0
58,30.0,Female,Bachelor's,Social Media Manager,4.0,55000.0
59,35.0,Male,Master's,Product Manager,7.0,105000.0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0
61,29.0,Male,Bachelor's,Marketing Analyst,3.0,50000.0
62,40.0,Female,Bachelor's,HR Manager,12.0,80000.0
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0
64,26.0,Male,Bachelor's,Junior Accountant,1.0,35000.0
65,38.0,Female,Master's,Digital Marketing Manager,10.0,90000.0
66,46.0,Male,Bachelor's,IT Manager,19.0,120000.0
67,31.0,Female,Bachelor's,Customer Service Representative,5.0,45000.0
68,34.0,Male,Master's,Business Development Manager,8.0,90000.0
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0
70,33.0,Male,Bachelor's,Web Developer,6.0,65000.0
71,39.0,Female,Bachelor's,Recruiter,11.0,70000.0
72,45.0,Male,PhD,Research Director,16.0,190000.0
73,28.0,Male,Bachelor's,Technical Support Specialist,2.0,40000.0
74,42.0,Female,Master's,Creative Director,14.0,120000.0
75,37.0,Male,Bachelor's,Project Manager,10.0,95000.0
76,50.0,Female,Bachelor's,Operations Manager,22.0,160000.0
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0
78,48.0,Female,Master's,Human Resources Director,20.0,180000.0
79,30.0,Female,Bachelor's,Content Marketing Manager,3.0,55000.0
80,36.0,Male,Bachelor's,Technical Recruiter,8.0,70000.0
81,41.0,Female,Master's,Data Analyst,13.0,80000.0
82,25.0,Male,Bachelor's,Sales Representative,0.0,30000.0
83,52.0,Male,PhD,Chief Technology Officer,24.0,250000.0
84,29.0,Female,Bachelor's,Junior Designer,2.0,40000.0
85,34.0,Female,Master's,Financial Advisor,10.0,95000.0
86,27.0,Male,Bachelor's,Junior Account Manager,2.0,45000.0
87,40.0,Female,Bachelor's,HR Generalist,15.0,80000.0
88,46.0,Male,Master's,Senior Project Manager,21.0,135000.0
89,31.0,Female,Bachelor's,Marketing Coordinator,6.0,55000.0
90,36.0,Male,PhD,Principal Scientist,11.0,120000.0
91,29.0,Female,Bachelor's,Sales Associate,3.0,40000.0
92,43.0,Male,Bachelor's,Supply Chain Manager,18.0,105000.0
93,52.0,Female,Master's,Senior Marketing Manager,25.0,170000.0
94,33.0,Male,Bachelor's,Business Analyst,7.0,75000.0
95,39.0,Female,Bachelor's,Training Specialist,12.0,65000.0
96,47.0,Male,PhD,Research Scientist,22.0,160000.0
97,26.0,Male,Bachelor's,Junior Software Developer,1.0,35000.0
98,38.0,Female,Master's,Public Relations Manager,10.0,90000.0
99,45.0,Male,Bachelor's,Operations Analyst,20.0,110000.0
100,31.0,Female,Bachelor's,Event Coordinator,5.0,45000.0
101,35.0,Male,Master's,Product Marketing Manager,8.0,95000.0
102,49.0,Female,Master's,Senior HR Manager,19.0,150000.0
103,33.0,Male,Bachelor's,Junior Web Developer,5.0,50000.0
104,39.0,Female,Master's,Senior Project Coordinator,13.0,80000.0
105,44.0,Male,PhD,Chief Data Officer,16.0,220000.0
106,30.0,Female,Bachelor's,Digital Content Producer,3.0,50000.0
107,36.0,Male,Bachelor's,IT Support Specialist,7.0,60000.0
108,41.0,Female,Master's,Senior Marketing Analyst,14.0,100000.0
109,28.0,Male,Bachelor's,Customer Success Manager,2.0,40000.0
110,42.0,Female,Master's,Senior Graphic Designer,15.0,110000.0
111,37.0,Male,Bachelor's,Software Project Manager,9.0,95000.0
112,50.0,Female,Bachelor's,Supply Chain Analyst,22.0,130000.0
113,32.0,Male,Master's,Senior Business Analyst,6.0,90000.0
114,23.0,Female,Bachelor's,Junior Marketing Analyst,0.5,35000.0
115,31.0,Male,Master's,Senior Financial Analyst,6.0,95000.0
116,40.0,Female,Bachelor's,Office Manager,15.0,65000.0
117,48.0,Male,PhD,Principal Engineer,20.0,170000.0
118,29.0,Female,Bachelor's,Junior HR Generalist,3.0,45000.0
119,35.0,Male,Master's,Senior Product Manager,10.0,120000.0
120,42.0,Female,Bachelor's,Sales Manager,17.0,100000.0
121,53.0,Male,Master's,Director of Marketing,25.0,180000.0
122,33.0,Female,Bachelor's,Junior Operations Analyst,5.0,50000.0
123,38.0,Male,Bachelor's,Customer Service Manager,11.0,80000.0
124,44.0,Female,PhD,Senior Scientist,16.0,140000.0
125,26.0,Male,Bachelor's,Junior Accountant,2.0,40000.0
126,37.0,Female,Master's,Senior HR Generalist,9.0,95000.0
127,45.0,Male,Bachelor's,Sales Operations Manager,18.0,110000.0
128,32.0,Female,Bachelor's,Marketing Coordinator,4.0,50000.0
129,34.0,Male,Master's,Senior Software Developer,8.0,105000.0
130,50.0,Female,Master's,Director of Operations,21.0,160000.0
131,29.0,Male,Bachelor's,Junior Web Designer,3.0,45000.0
132,40.0,Female,Master's,Senior Training Specialist,12.0,100000.0
133,47.0,Male,PhD,Senior Research Scientist,22.0,160000.0
134,27.0,Male,Bachelor's,Junior Sales Representative,1.0,35000.0
135,39.0,Female,Bachelor's,Administrative Assistant,10.0,55000.0
136,46.0,Male,Master's,Senior Project Manager,19.0,140000.0
137,30.0,Female,Bachelor's,Junior Marketing Manager,4.0,50000.0
138,36.0,Male,Bachelor's,Junior Data Analyst,7.0,60000.0
139,43.0,Female,Master's,Senior Product Marketing Manager,14.0,120000.0
140,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
141,41.0,Female,Master's,Senior Marketing Manager,13.0,110000.0
142,33.0,Male,Bachelor's,Junior Software Developer,5.0,50000.0
143,47.0,Male,Bachelor's,Senior Sales Manager,20.0,135000.0
144,25.0,Female,Master's,Junior Marketing Specialist,1.5,40000.0
145,34.0,Male,Bachelor's,Senior Business Analyst,8.0,90000.0
146,42.0,Female,PhD,Senior Data Scientist,16.0,150000.0
147,31.0,Male,Bachelor's,Junior Project Manager,4.0,60000.0
148,38.0,Female,Bachelor's,Senior Accountant,10.0,80000.0
149,45.0,Male,Master's,Director of Sales,19.0,175000.0
150,29.0,Female,Bachelor's,Junior Recruiter,3.0,45000.0
151,36.0,Male,Master's,Senior Business Development Manager,11.0,120000.0
152,43.0,Female,PhD,Senior Product Designer,18.0,140000.0
153,26.0,Male,Bachelor's,Junior Customer Support Specialist,2.0,35000.0
154,37.0,Female,Master's,Senior Marketing Analyst,9.0,95000.0
155,44.0,Male,Bachelor's,Senior IT Support Specialist,14.0,110000.0
156,32.0,Female,Bachelor's,Junior Financial Analyst,5.0,50000.0
157,33.0,Male,Master's,Senior Operations Manager,7.0,115000.0
158,51.0,Female,PhD,Director of Human Resources,23.0,185000.0
159,28.0,Male,Bachelor's,Junior Software Engineer,2.0,40000.0
160,39.0,Female,Bachelor's,Senior Sales Representative,12.0,90000.0
161,48.0,Male,Master's,Director of Product Management,21.0,175000.0
162,30.0,Female,Bachelor's,Junior Copywriter,3.0,45000.0
163,35.0,Male,Bachelor's,Senior Marketing Coordinator,7.0,80000.0
164,41.0,Female,Master's,Senior Human Resources Manager,13.0,120000.0
165,27.0,Male,Bachelor's,Junior Business Development Associate,1.5,35000.0
166,40.0,Female,Bachelor's,Senior Account Manager,14.0,110000.0
167,46.0,Male,PhD,Senior Researcher,18.0,150000.0
168,31.0,Female,Bachelor's,Junior HR Coordinator,4.0,50000.0
169,34.0,Male,Master's,Senior Software Engineer,9.0,105000.0
170,50.0,Female,Master's,Director of Finance,20.0,180000.0
171,29.0,Male,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
172,NaN,NaN,NaN,NaN,NaN,NaN
173,43.0,Male,Bachelor's,Senior Project Manager,16.0,140000.0
174,26.0,Female,Master's,Junior Data Scientist,1.5,45000.0
175,35.0,Male,Bachelor's,Senior Operations Analyst,7.0,85000.0
176,42.0,Female,PhD,Senior Marketing Manager,18.0,140000.0
177,31.0,Male,Bachelor's,Junior Accountant,4.0,50000.0
178,38.0,Female,Bachelor's,Senior Human Resources Coordinator,10.0,80000.0
179,46.0,Male,Master's,Director of Operations,20.0,170000.0
180,29.0,Female,Bachelor's,Junior Sales Representative,2.0,40000.0
181,37.0,Male,Master's,Senior Business Analyst,9.0,105000.0
182,44.0,Female,PhD,Senior UX Designer,15.0,145000.0
183,27.0,Male,Bachelor's,Junior Product Manager,2.0,40000.0
184,36.0,Female,Bachelor's,Senior Marketing Specialist,8.0,85000.0
185,43.0,Male,Bachelor's,Senior IT Project Manager,14.0,130000.0
186,33.0,Female,Master's,Senior Financial Analyst,6.0,95000.0
187,34.0,Male,Bachelor's,Senior Quality Assurance Analyst,9.0,100000.0
188,50.0,Female,PhD,Director of Sales and Marketing,22.0,180000.0
189,28.0,Male,Bachelor's,Junior Operations Analyst,1.5,35000.0
190,39.0,Female,Bachelor's,Senior Account Executive,12.0,95000.0
191,47.0,Male,Master's,Director of Business Development,19.0,170000.0
192,30.0,Female,Bachelor's,Junior Social Media Manager,3.0,45000.0
193,34.0,Male,Bachelor's,Senior Product Manager,7.0,95000.0
194,40.0,Female,Master's,Senior Human Resources Specialist,13.0,120000.0
195,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
196,41.0,Female,Bachelor's,Senior Marketing Coordinator,11.0,90000.0
197,45.0,Male,PhD,Senior Data Analyst,17.0,155000.0
198,32.0,Female,Bachelor's,Junior Account Manager,5.0,55000.0
199,35.0,Male,Master's,Senior Software Developer,9.0,110000.0
200,49.0,Female,Master's,Director of Human Capital,21.0,180000.0
201,30.0,Male,Bachelor's,Junior Advertising Coordinator,3.0,45000.0
202,44.0,Male,Bachelor's,Senior Sales Manager,16.0,130000.0
203,27.0,Female,Master's,Junior UX Designer,1.5,45000.0
204,36.0,Male,Bachelor's,Senior Accountant,7.0,90000.0
205,41.0,Female,PhD,Senior Marketing Director,17.0,160000.0
206,31.0,Male,Bachelor's,Junior HR Generalist,4.0,50000.0
207,39.0,Female,Bachelor's,Senior Operations Manager,10.0,120000.0
208,47.0,Male,Master's,Director of Finance,20.0,170000.0
209,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
210,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
211,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
212,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
213,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
214,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
215,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
216,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
217,50.0,Female,PhD,Director of Operations,22.0,180000.0
218,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,35000.0
219,40.0,Female,Bachelor's,Senior Sales Representative,12.0,100000.0
220,48.0,Male,Master's,Director of Marketing,19.0,170000.0
221,31.0,Female,Bachelor's,Junior Social Media Specialist,3.0,45000.0
222,33.0,Male,Bachelor's,Senior Product Development Manager,7.0,100000.0
223,42.0,Female,Master's,Senior Human Resources Manager,13.0,140000.0
224,28.0,Male,Bachelor's,Junior Financial Analyst,2.0,40000.0
225,40.0,Female,Bachelor's,Senior Marketing Manager,11.0,105000.0
226,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
227,33.0,Female,Bachelor's,Junior Operations Manager,5.0,70000.0
228,37.0,Male,Master's,Senior Software Architect,9.0,120000.0
229,51.0,Female,Master's,Director of Human Resources,21.0,190000.0
230,30.0,Male,Bachelor's,Junior Marketing Specialist,3.0,45000.0
231,43.0,Male,Bachelor's,Senior Project Manager,15.0,120000.0
232,27.0,Female,Master's,Junior Research Scientist,1.5,50000.0
233,35.0,Male,Bachelor's,Senior Operations Analyst,8.0,85000.0
234,42.0,Female,PhD,Senior Marketing Manager,13.0,140000.0
235,32.0,Male,Bachelor's,Junior Sales Representative,3.0,45000.0
236,37.0,Female,Bachelor's,Senior Financial Analyst,9.0,100000.0
237,45.0,Male,Master's,Senior Software Developer,16.0,140000.0
238,33.0,Female,Bachelor's,Junior Operations Analyst,5.0,70000.0
239,39.0,Male,Bachelor's,Senior Marketing Specialist,10.0,120000.0
240,44.0,Female,PhD,Senior HR Manager,18.0,160000.0
241,29.0,Male,Bachelor's,Junior Business Analyst,1.5,40000.0
242,38.0,Female,Bachelor's,Senior Product Manager,10.0,120000.0
243,46.0,Male,PhD,Senior Data Analyst,19.0,150000.0
244,34.0,Female,Bachelor's,Junior Marketing Analyst,6.0,70000.0
245,36.0,Male,Bachelor's,Senior Operations Manager,8.0,95000.0
246,49.0,Female,Master's,Director of Marketing,21.0,180000.0
247,31.0,Male,Bachelor's,Junior Financial Analyst,3.0,50000.0
248,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
249,47.0,Male,Master's,Director of Operations,20.0,170000.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
251,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
252,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
253,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
254,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
255,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
256,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
257,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
258,50.0,Female,PhD,Director of Operations,22.0,180000.0
259,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,350.0
260,NaN,NaN,NaN,NaN,NaN,NaN
261,37.0,Female,Bachelor's,Senior Financial Manager,10.0,120000.0
262,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
263,31.0,Female,Bachelor's,Junior Marketing Coordinator,3.0,50000.0
264,42.0,Male,Bachelor's,Senior Operations Manager,12.0,110000.0
265,29.0,Female,Bachelor's,Junior Sales Representative,1.5,40000.0
266,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
267,44.0,Female,Master's,Senior HR Specialist,15.0,140000.0
268,33.0,Male,Bachelor's,Junior Operations Manager,4.0,60000.0
269,39.0,Female,Bachelor's,Senior Marketing Coordinator,9.0,110000.0
270,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
271,32.0,Female,Bachelor's,Junior Marketing Manager,4.0,60000.0
272,37.0,Male,Bachelor's,Senior Financial Analyst,8.0,90000.0
273,47.0,Female,Master's,Director of Marketing,20.0,180000.0
274,30.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
275,38.0,Female,Bachelor's,Senior Project Manager,9.0,120000.0
276,46.0,Male,PhD,Senior Data Analyst,17.0,160000.0
277,34.0,Female,Bachelor's,Junior Financial Analyst,5.0,70000.0
278,36.0,Male,Bachelor's,Senior Product Manager,8.0,95000.0
279,49.0,Female,Master's,Director of Operations,21.0,180000.0
280,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
281,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
282,47.0,Male,Master's,Director of Marketing,19.0,170000.0
283,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
284,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
285,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
286,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
287,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
288,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
289,32.0,Male,Bachelor's,Junior Product Manager,4.0,65000.0
290,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
291,49.0,Male,PhD,Director of Operations,21.0,180000.0
292,29.0,Female,Bachelor's,Junior Marketing Specialist,2.0,40000.0
293,35.0,Male,Bachelor's,Senior Business Development Manager,7.0,90000.0
294,45.0,Female,Master's,Senior HR Manager,14.0,140000.0
295,33.0,Male,Bachelor's,Junior Financial Analyst,4.0,60000.0
296,40.0,Female,Bachelor's,Senior Marketing Manager,12.0,130000.0
297,44.0,Male,PhD,Senior Data Scientist,16.0,160000.0
298,30.0,Female,Bachelor's,Junior Operations Coordinator,2.0,40000.0
299,37.0,Male,Bachelor's,Senior Marketing Analyst,9.0,100000.0
300,48.0,Female,Master's,Director of HR,20.0,180000.0
301,31.0,Male,Bachelor's,Junior Project Manager,3.0,55000.0
302,38.0,Female,Bachelor's,Senior Operations Coordinator,9.0,120000.0
303,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
304,33.0,Female,Bachelor's,Junior Marketing Manager,5.0,70000.0
305,36.0,Male,Bachelor's,Senior Business Analyst,8.0,95000.0
306,49.0,Female,Master's,Director of Marketing,21.0,180000.0
307,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
308,42.0,Female,Bachelor's,Senior Project Manager,12.0,120000.0
309,47.0,Male,Master's,Director of Marketing,19.0,170000.0
310,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
311,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
312,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
313,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
314,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
315,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
316,34.0,Female,Master's,Senior Financial Advisor,6.0,80000.0
317,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
318,30.0,Female,Bachelor's,Junior HR Coordinator,2.0,40000.0
319,37.0,Male,Bachelor's,Senior Business Development Manager,10.0,120000.0
320,45.0,Female,Master's,Senior Marketing Manager,16.0,160000.0
321,32.0,Male,Bachelor's,Junior Financial Advisor,4.0,65000.0
322,39.0,Female,Bachelor's,Senior Project Manager,12.0,130000.0
323,47.0,Male,PhD,Director of Engineering,20.0,180000.0
324,29.0,Female,Bachelor's,Junior Marketing Analyst,2.0,40000.0
325,36.0,Male,Bachelor's,Senior Operations Manager,9.0,100000.0
326,43.0,Female,PhD,Senior Data Scientist,15.0,150000.0
327,32.0,Male,Bachelor's,Junior Marketing Coordinator,3.0,55000.0
328,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
329,48.0,Male,Master's,Director of Marketing,21.0,180000.0
330,31.0,Female,Bachelor's,Junior Business Development Associate,3.0,50000.0
331,40.0,Male,Bachelor's,Senior Financial Analyst,12.0,130000.0
332,45.0,Female,PhD,Senior UX Designer,16.0,160000.0

In [44]:
salary.rename(index={5:"Great"})
salary=salary.rename(index={5:"Great"})
salary

,AGE,SEX,EDUCATION LEVEL,JOB TITLE,YEARS OF EXPERIENCE,SALARY
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
Great,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0
10,29.0,Male,Master's,Software Developer,3.0,75000.0
11,48.0,Female,Bachelor's,HR Manager,18.0,140000.0
12,35.0,Male,Bachelor's,Financial Analyst,6.0,65000.0
13,40.0,Female,Master's,Project Manager,14.0,130000.0
14,27.0,Male,Bachelor's,Customer Service Rep,2.0,40000.0
15,44.0,Male,Bachelor's,Operations Manager,16.0,125000.0
16,33.0,Female,Master's,Marketing Manager,7.0,90000.0
17,39.0,Male,PhD,Senior Engineer,12.0,115000.0
18,25.0,Female,Bachelor's,Data Entry Clerk,0.0,35000.0
19,51.0,Male,Bachelor's,Sales Director,22.0,180000.0
20,34.0,Female,Master's,Business Analyst,5.0,80000.0
21,47.0,Male,Master's,VP of Operations,19.0,190000.0
22,30.0,Male,Bachelor's,IT Support,2.0,50000.0
23,36.0,Female,Bachelor's,Recruiter,9.0,60000.0
24,41.0,Male,Master's,Financial Manager,13.0,140000.0
25,28.0,Female,Bachelor's,Social Media Specialist,3.0,45000.0
26,37.0,Female,Master's,Software Manager,11.0,110000.0
27,24.0,Male,Bachelor's,Junior Developer,1.0,40000.0
28,43.0,Female,PhD,Senior Consultant,15.0,140000.0
29,33.0,Male,Master's,Product Designer,6.0,90000.0
30,50.0,Male,Bachelor's,CEO,25.0,250000.0
31,31.0,Female,Bachelor's,Accountant,4.0,55000.0
32,29.0,Male,Master's,Data Scientist,3.0,75000.0
33,39.0,Female,Bachelor's,Marketing Specialist,10.0,65000.0
34,46.0,Male,PhD,Senior Manager,20.0,170000.0
35,27.0,Male,Bachelor's,Technical Writer,2.0,45000.0
36,35.0,Female,Bachelor's,HR Generalist,7.0,60000.0
37,42.0,Male,Master's,Project Engineer,14.0,115000.0
38,26.0,Female,Bachelor's,Customer Success Rep,1.0,40000.0
39,49.0,Male,Bachelor's,Sales Executive,21.0,160000.0
40,34.0,Female,Master's,UX Designer,5.0,80000.0
41,48.0,Male,Master's,Operations Director,18.0,190000.0
42,30.0,Male,Bachelor's,Network Engineer,3.0,60000.0
43,36.0,Female,Bachelor's,Administrative Assistant,8.0,45000.0
44,41.0,Male,Master's,Strategy Consultant,13.0,130000.0
45,28.0,Female,Bachelor's,Copywriter,2.0,40000.0
46,32.0,Male,Bachelor's,Account Manager,5.0,75000.0
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0
48,38.0,Male,PhD,Senior Scientist,11.0,120000.0
49,25.0,Male,Bachelor's,Help Desk Analyst,0.0,35000.0
50,51.0,Female,Bachelor's,Customer Service Manager,22.0,130000.0
51,33.0,Male,Master's,Business Intelligence Analyst,7.0,85000.0
52,40.0,Female,Bachelor's,Event Coordinator,12.0,60000.0
53,47.0,Male,Master's,VP of Finance,19.0,200000.0
54,29.0,Female,Bachelor's,Graphic Designer,3.0,50000.0
55,36.0,Male,Bachelor's,Sales Manager,9.0,95000.0
56,27.0,Female,Master's,UX Researcher,2.0,65000.0
57,43.0,Male,PhD,Senior Engineer,17.0,140000.0
58,30.0,Female,Bachelor's,Social Media Manager,4.0,55000.0
59,35.0,Male,Master's,Product Manager,7.0,105000.0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0
61,29.0,Male,Bachelor's,Marketing Analyst,3.0,50000.0
62,40.0,Female,Bachelor's,HR Manager,12.0,80000.0
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0
64,26.0,Male,Bachelor's,Junior Accountant,1.0,35000.0
65,38.0,Female,Master's,Digital Marketing Manager,10.0,90000.0
66,46.0,Male,Bachelor's,IT Manager,19.0,120000.0
67,31.0,Female,Bachelor's,Customer Service Representative,5.0,45000.0
68,34.0,Male,Master's,Business Development Manager,8.0,90000.0
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0
70,33.0,Male,Bachelor's,Web Developer,6.0,65000.0
71,39.0,Female,Bachelor's,Recruiter,11.0,70000.0
72,45.0,Male,PhD,Research Director,16.0,190000.0
73,28.0,Male,Bachelor's,Technical Support Specialist,2.0,40000.0
74,42.0,Female,Master's,Creative Director,14.0,120000.0
75,37.0,Male,Bachelor's,Project Manager,10.0,95000.0
76,50.0,Female,Bachelor's,Operations Manager,22.0,160000.0
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0
78,48.0,Female,Master's,Human Resources Director,20.0,180000.0
79,30.0,Female,Bachelor's,Content Marketing Manager,3.0,55000.0
80,36.0,Male,Bachelor's,Technical Recruiter,8.0,70000.0
81,41.0,Female,Master's,Data Analyst,13.0,80000.0
82,25.0,Male,Bachelor's,Sales Representative,0.0,30000.0
83,52.0,Male,PhD,Chief Technology Officer,24.0,250000.0
84,29.0,Female,Bachelor's,Junior Designer,2.0,40000.0
85,34.0,Female,Master's,Financial Advisor,10.0,95000.0
86,27.0,Male,Bachelor's,Junior Account Manager,2.0,45000.0
87,40.0,Female,Bachelor's,HR Generalist,15.0,80000.0
88,46.0,Male,Master's,Senior Project Manager,21.0,135000.0
89,31.0,Female,Bachelor's,Marketing Coordinator,6.0,55000.0
90,36.0,Male,PhD,Principal Scientist,11.0,120000.0
91,29.0,Female,Bachelor's,Sales Associate,3.0,40000.0
92,43.0,Male,Bachelor's,Supply Chain Manager,18.0,105000.0
93,52.0,Female,Master's,Senior Marketing Manager,25.0,170000.0
94,33.0,Male,Bachelor's,Business Analyst,7.0,75000.0
95,39.0,Female,Bachelor's,Training Specialist,12.0,65000.0
96,47.0,Male,PhD,Research Scientist,22.0,160000.0
97,26.0,Male,Bachelor's,Junior Software Developer,1.0,35000.0
98,38.0,Female,Master's,Public Relations Manager,10.0,90000.0
99,45.0,Male,Bachelor's,Operations Analyst,20.0,110000.0
100,31.0,Female,Bachelor's,Event Coordinator,5.0,45000.0
101,35.0,Male,Master's,Product Marketing Manager,8.0,95000.0
102,49.0,Female,Master's,Senior HR Manager,19.0,150000.0
103,33.0,Male,Bachelor's,Junior Web Developer,5.0,50000.0
104,39.0,Female,Master's,Senior Project Coordinator,13.0,80000.0
105,44.0,Male,PhD,Chief Data Officer,16.0,220000.0
106,30.0,Female,Bachelor's,Digital Content Producer,3.0,50000.0
107,36.0,Male,Bachelor's,IT Support Specialist,7.0,60000.0
108,41.0,Female,Master's,Senior Marketing Analyst,14.0,100000.0
109,28.0,Male,Bachelor's,Customer Success Manager,2.0,40000.0
110,42.0,Female,Master's,Senior Graphic Designer,15.0,110000.0
111,37.0,Male,Bachelor's,Software Project Manager,9.0,95000.0
112,50.0,Female,Bachelor's,Supply Chain Analyst,22.0,130000.0
113,32.0,Male,Master's,Senior Business Analyst,6.0,90000.0
114,23.0,Female,Bachelor's,Junior Marketing Analyst,0.5,35000.0
115,31.0,Male,Master's,Senior Financial Analyst,6.0,95000.0
116,40.0,Female,Bachelor's,Office Manager,15.0,65000.0
117,48.0,Male,PhD,Principal Engineer,20.0,170000.0
118,29.0,Female,Bachelor's,Junior HR Generalist,3.0,45000.0
119,35.0,Male,Master's,Senior Product Manager,10.0,120000.0
120,42.0,Female,Bachelor's,Sales Manager,17.0,100000.0
121,53.0,Male,Master's,Director of Marketing,25.0,180000.0
122,33.0,Female,Bachelor's,Junior Operations Analyst,5.0,50000.0
123,38.0,Male,Bachelor's,Customer Service Manager,11.0,80000.0
124,44.0,Female,PhD,Senior Scientist,16.0,140000.0
125,26.0,Male,Bachelor's,Junior Accountant,2.0,40000.0
126,37.0,Female,Master's,Senior HR Generalist,9.0,95000.0
127,45.0,Male,Bachelor's,Sales Operations Manager,18.0,110000.0
128,32.0,Female,Bachelor's,Marketing Coordinator,4.0,50000.0
129,34.0,Male,Master's,Senior Software Developer,8.0,105000.0
130,50.0,Female,Master's,Director of Operations,21.0,160000.0
131,29.0,Male,Bachelor's,Junior Web Designer,3.0,45000.0
132,40.0,Female,Master's,Senior Training Specialist,12.0,100000.0
133,47.0,Male,PhD,Senior Research Scientist,22.0,160000.0
134,27.0,Male,Bachelor's,Junior Sales Representative,1.0,35000.0
135,39.0,Female,Bachelor's,Administrative Assistant,10.0,55000.0
136,46.0,Male,Master's,Senior Project Manager,19.0,140000.0
137,30.0,Female,Bachelor's,Junior Marketing Manager,4.0,50000.0
138,36.0,Male,Bachelor's,Junior Data Analyst,7.0,60000.0
139,43.0,Female,Master's,Senior Product Marketing Manager,14.0,120000.0
140,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
141,41.0,Female,Master's,Senior Marketing Manager,13.0,110000.0
142,33.0,Male,Bachelor's,Junior Software Developer,5.0,50000.0
143,47.0,Male,Bachelor's,Senior Sales Manager,20.0,135000.0
144,25.0,Female,Master's,Junior Marketing Specialist,1.5,40000.0
145,34.0,Male,Bachelor's,Senior Business Analyst,8.0,90000.0
146,42.0,Female,PhD,Senior Data Scientist,16.0,150000.0
147,31.0,Male,Bachelor's,Junior Project Manager,4.0,60000.0
148,38.0,Female,Bachelor's,Senior Accountant,10.0,80000.0
149,45.0,Male,Master's,Director of Sales,19.0,175000.0
150,29.0,Female,Bachelor's,Junior Recruiter,3.0,45000.0
151,36.0,Male,Master's,Senior Business Development Manager,11.0,120000.0
152,43.0,Female,PhD,Senior Product Designer,18.0,140000.0
153,26.0,Male,Bachelor's,Junior Customer Support Specialist,2.0,35000.0
154,37.0,Female,Master's,Senior Marketing Analyst,9.0,95000.0
155,44.0,Male,Bachelor's,Senior IT Support Specialist,14.0,110000.0
156,32.0,Female,Bachelor's,Junior Financial Analyst,5.0,50000.0
157,33.0,Male,Master's,Senior Operations Manager,7.0,115000.0
158,51.0,Female,PhD,Director of Human Resources,23.0,185000.0
159,28.0,Male,Bachelor's,Junior Software Engineer,2.0,40000.0
160,39.0,Female,Bachelor's,Senior Sales Representative,12.0,90000.0
161,48.0,Male,Master's,Director of Product Management,21.0,175000.0
162,30.0,Female,Bachelor's,Junior Copywriter,3.0,45000.0
163,35.0,Male,Bachelor's,Senior Marketing Coordinator,7.0,80000.0
164,41.0,Female,Master's,Senior Human Resources Manager,13.0,120000.0
165,27.0,Male,Bachelor's,Junior Business Development Associate,1.5,35000.0
166,40.0,Female,Bachelor's,Senior Account Manager,14.0,110000.0
167,46.0,Male,PhD,Senior Researcher,18.0,150000.0
168,31.0,Female,Bachelor's,Junior HR Coordinator,4.0,50000.0
169,34.0,Male,Master's,Senior Software Engineer,9.0,105000.0
170,50.0,Female,Master's,Director of Finance,20.0,180000.0
171,29.0,Male,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
172,NaN,NaN,NaN,NaN,NaN,NaN
173,43.0,Male,Bachelor's,Senior Project Manager,16.0,140000.0
174,26.0,Female,Master's,Junior Data Scientist,1.5,45000.0
175,35.0,Male,Bachelor's,Senior Operations Analyst,7.0,85000.0
176,42.0,Female,PhD,Senior Marketing Manager,18.0,140000.0
177,31.0,Male,Bachelor's,Junior Accountant,4.0,50000.0
178,38.0,Female,Bachelor's,Senior Human Resources Coordinator,10.0,80000.0
179,46.0,Male,Master's,Director of Operations,20.0,170000.0
180,29.0,Female,Bachelor's,Junior Sales Representative,2.0,40000.0
181,37.0,Male,Master's,Senior Business Analyst,9.0,105000.0
182,44.0,Female,PhD,Senior UX Designer,15.0,145000.0
183,27.0,Male,Bachelor's,Junior Product Manager,2.0,40000.0
184,36.0,Female,Bachelor's,Senior Marketing Specialist,8.0,85000.0
185,43.0,Male,Bachelor's,Senior IT Project Manager,14.0,130000.0
186,33.0,Female,Master's,Senior Financial Analyst,6.0,95000.0
187,34.0,Male,Bachelor's,Senior Quality Assurance Analyst,9.0,100000.0
188,50.0,Female,PhD,Director of Sales and Marketing,22.0,180000.0
189,28.0,Male,Bachelor's,Junior Operations Analyst,1.5,35000.0
190,39.0,Female,Bachelor's,Senior Account Executive,12.0,95000.0
191,47.0,Male,Master's,Director of Business Development,19.0,170000.0
192,30.0,Female,Bachelor's,Junior Social Media Manager,3.0,45000.0
193,34.0,Male,Bachelor's,Senior Product Manager,7.0,95000.0
194,40.0,Female,Master's,Senior Human Resources Specialist,13.0,120000.0
195,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
196,41.0,Female,Bachelor's,Senior Marketing Coordinator,11.0,90000.0
197,45.0,Male,PhD,Senior Data Analyst,17.0,155000.0
198,32.0,Female,Bachelor's,Junior Account Manager,5.0,55000.0
199,35.0,Male,Master's,Senior Software Developer,9.0,110000.0
200,49.0,Female,Master's,Director of Human Capital,21.0,180000.0
201,30.0,Male,Bachelor's,Junior Advertising Coordinator,3.0,45000.0
202,44.0,Male,Bachelor's,Senior Sales Manager,16.0,130000.0
203,27.0,Female,Master's,Junior UX Designer,1.5,45000.0
204,36.0,Male,Bachelor's,Senior Accountant,7.0,90000.0
205,41.0,Female,PhD,Senior Marketing Director,17.0,160000.0
206,31.0,Male,Bachelor's,Junior HR Generalist,4.0,50000.0
207,39.0,Female,Bachelor's,Senior Operations Manager,10.0,120000.0
208,47.0,Male,Master's,Director of Finance,20.0,170000.0
209,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
210,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
211,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
212,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
213,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
214,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
215,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
216,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
217,50.0,Female,PhD,Director of Operations,22.0,180000.0
218,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,35000.0
219,40.0,Female,Bachelor's,Senior Sales Representative,12.0,100000.0
220,48.0,Male,Master's,Director of Marketing,19.0,170000.0
221,31.0,Female,Bachelor's,Junior Social Media Specialist,3.0,45000.0
222,33.0,Male,Bachelor's,Senior Product Development Manager,7.0,100000.0
223,42.0,Female,Master's,Senior Human Resources Manager,13.0,140000.0
224,28.0,Male,Bachelor's,Junior Financial Analyst,2.0,40000.0
225,40.0,Female,Bachelor's,Senior Marketing Manager,11.0,105000.0
226,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
227,33.0,Female,Bachelor's,Junior Operations Manager,5.0,70000.0
228,37.0,Male,Master's,Senior Software Architect,9.0,120000.0
229,51.0,Female,Master's,Director of Human Resources,21.0,190000.0
230,30.0,Male,Bachelor's,Junior Marketing Specialist,3.0,45000.0
231,43.0,Male,Bachelor's,Senior Project Manager,15.0,120000.0
232,27.0,Female,Master's,Junior Research Scientist,1.5,50000.0
233,35.0,Male,Bachelor's,Senior Operations Analyst,8.0,85000.0
234,42.0,Female,PhD,Senior Marketing Manager,13.0,140000.0
235,32.0,Male,Bachelor's,Junior Sales Representative,3.0,45000.0
236,37.0,Female,Bachelor's,Senior Financial Analyst,9.0,100000.0
237,45.0,Male,Master's,Senior Software Developer,16.0,140000.0
238,33.0,Female,Bachelor's,Junior Operations Analyst,5.0,70000.0
239,39.0,Male,Bachelor's,Senior Marketing Specialist,10.0,120000.0
240,44.0,Female,PhD,Senior HR Manager,18.0,160000.0
241,29.0,Male,Bachelor's,Junior Business Analyst,1.5,40000.0
242,38.0,Female,Bachelor's,Senior Product Manager,10.0,120000.0
243,46.0,Male,PhD,Senior Data Analyst,19.0,150000.0
244,34.0,Female,Bachelor's,Junior Marketing Analyst,6.0,70000.0
245,36.0,Male,Bachelor's,Senior Operations Manager,8.0,95000.0
246,49.0,Female,Master's,Director of Marketing,21.0,180000.0
247,31.0,Male,Bachelor's,Junior Financial Analyst,3.0,50000.0
248,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
249,47.0,Male,Master's,Director of Operations,20.0,170000.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
251,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
252,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
253,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
254,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
255,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
256,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
257,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
258,50.0,Female,PhD,Director of Operations,22.0,180000.0
259,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,350.0
260,NaN,NaN,NaN,NaN,NaN,NaN
261,37.0,Female,Bachelor's,Senior Financial Manager,10.0,120000.0
262,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
263,31.0,Female,Bachelor's,Junior Marketing Coordinator,3.0,50000.0
264,42.0,Male,Bachelor's,Senior Operations Manager,12.0,110000.0
265,29.0,Female,Bachelor's,Junior Sales Representative,1.5,40000.0
266,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
267,44.0,Female,Master's,Senior HR Specialist,15.0,140000.0
268,33.0,Male,Bachelor's,Junior Operations Manager,4.0,60000.0
269,39.0,Female,Bachelor's,Senior Marketing Coordinator,9.0,110000.0
270,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
271,32.0,Female,Bachelor's,Junior Marketing Manager,4.0,60000.0
272,37.0,Male,Bachelor's,Senior Financial Analyst,8.0,90000.0
273,47.0,Female,Master's,Director of Marketing,20.0,180000.0
274,30.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
275,38.0,Female,Bachelor's,Senior Project Manager,9.0,120000.0
276,46.0,Male,PhD,Senior Data Analyst,17.0,160000.0
277,34.0,Female,Bachelor's,Junior Financial Analyst,5.0,70000.0
278,36.0,Male,Bachelor's,Senior Product Manager,8.0,95000.0
279,49.0,Female,Master's,Director of Operations,21.0,180000.0
280,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
281,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
282,47.0,Male,Master's,Director of Marketing,19.0,170000.0
283,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
284,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
285,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
286,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
287,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
288,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
289,32.0,Male,Bachelor's,Junior Product Manager,4.0,65000.0
290,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
291,49.0,Male,PhD,Director of Operations,21.0,180000.0
292,29.0,Female,Bachelor's,Junior Marketing Specialist,2.0,40000.0
293,35.0,Male,Bachelor's,Senior Business Development Manager,7.0,90000.0
294,45.0,Female,Master's,Senior HR Manager,14.0,140000.0
295,33.0,Male,Bachelor's,Junior Financial Analyst,4.0,60000.0
296,40.0,Female,Bachelor's,Senior Marketing Manager,12.0,130000.0
297,44.0,Male,PhD,Senior Data Scientist,16.0,160000.0
298,30.0,Female,Bachelor's,Junior Operations Coordinator,2.0,40000.0
299,37.0,Male,Bachelor's,Senior Marketing Analyst,9.0,100000.0
300,48.0,Female,Master's,Director of HR,20.0,180000.0
301,31.0,Male,Bachelor's,Junior Project Manager,3.0,55000.0
302,38.0,Female,Bachelor's,Senior Operations Coordinator,9.0,120000.0
303,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
304,33.0,Female,Bachelor's,Junior Marketing Manager,5.0,70000.0
305,36.0,Male,Bachelor's,Senior Business Analyst,8.0,95000.0
306,49.0,Female,Master's,Director of Marketing,21.0,180000.0
307,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
308,42.0,Female,Bachelor's,Senior Project Manager,12.0,120000.0
309,47.0,Male,Master's,Director of Marketing,19.0,170000.0
310,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
311,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
312,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
313,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
314,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
315,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
316,34.0,Female,Master's,Senior Financial Advisor,6.0,80000.0
317,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
318,30.0,Female,Bachelor's,Junior HR Coordinator,2.0,40000.0
319,37.0,Male,Bachelor's,Senior Business Development Manager,10.0,120000.0
320,45.0,Female,Master's,Senior Marketing Manager,16.0,160000.0
321,32.0,Male,Bachelor's,Junior Financial Advisor,4.0,65000.0
322,39.0,Female,Bachelor's,Senior Project Manager,12.0,130000.0
323,47.0,Male,PhD,Director of Engineering,20.0,180000.0
324,29.0,Female,Bachelor's,Junior Marketing Analyst,2.0,40000.0
325,36.0,Male,Bachelor's,Senior Operations Manager,9.0,100000.0
326,43.0,Female,PhD,Senior Data Scientist,15.0,150000.0
327,32.0,Male,Bachelor's,Junior Marketing Coordinator,3.0,55000.0
328,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
329,48.0,Male,Master's,Director of Marketing,21.0,180000.0
330,31.0,Female,Bachelor's,Junior Business Development Associate,3.0,50000.0
331,40.0,Male,Bachelor's,Senior Financial Analyst,12.0,130000.0