In [2]:
import pandas as pd

In [4]:
salary=pd.read_csv("Salary Data.csv")
salary

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [6]:
salary["Education Level"].value_counts()

Bachelor's    224
Master's       98
PhD            51
Name: Education Level, dtype: int64

In [7]:
salary["Gender"].value_counts()

Male      194
Female    179
Name: Gender, dtype: int64

In [8]:
salary["Job Title"].value_counts()

Director of Marketing                 12
Director of Operations                11
Senior Business Analyst               10
Senior Marketing Manager               9
Senior Marketing Analyst               9
                                      ..
Senior Product Development Manager     1
Operations Director                    1
Principal Scientist                    1
Senior Product Marketing Manager       1
Senior Training Specialist             1
Name: Job Title, Length: 174, dtype: int64

In [9]:
salary["Years of Experience"].value_counts()

2.0     31
3.0     30
8.0     25
9.0     22
4.0     20
16.0    18
7.0     18
10.0    18
5.0     17
15.0    16
12.0    15
19.0    15
21.0    13
20.0    13
18.0    13
14.0    13
6.0     12
1.5     12
13.0    11
11.0    10
22.0     9
1.0      7
17.0     5
25.0     3
0.0      3
23.0     2
0.5      1
24.0     1
Name: Years of Experience, dtype: int64

In [ ]:
salary[[Y]]