In [1]:
3 == 5

False

In [1]:
10 != 20

True

c#

In [2]:
10 == 20/2

True

In [3]:
100>59

True

In [4]:
100<50

False

In [5]:
15 <=10 + 5

True

In [2]:
if 3 ==3:
    print("i can do it")

i can do it

In [3]:
if 3 == 3:
    print("it is greater")
print("i will still print")

it is greater
i will still print

In [4]:
if 5>4:
    print("it is greater")
print("it is greater, it isnt i will print")

it is greater
it is greater, it isnt i will print

In [5]:
if 3 == 3:
    print("they match")
print("i will still display")

they match
i will still display

In [6]:
#else statement displays if the statement in the if dosent match
work = "david","kelvin"
work2 = "david","kelvin"

if work == work2:
    print("a match")
else:
    print("they dont match")

a match

In [7]:
#elif statement displays if the condition in the previous statement is not met,
#it keeps checking the next elif unit it gets to else

if 
email="david@gmail.com"
email2="daniel@gmail.com"
password="123456"
password2="123456"

if email==email2:
    print("matches")
elif password==password2:
    print("matches")
else:
    print("does not match")

SyntaxError: invalid syntax (<ipython-input-7-31f4f6d6af43>, line 4)

In [ ]:
bool1 = 2>3
bool2 = 2<3

print('bool1:', bool1)
print('bool2:', bool2)

# or operator
OR = bool1 or bool2
print("OR operator:", OR)

In [ ]:
english = int(input("enter your score"))

if english >=70 and english <=100:
    print("A")
elif english >=50 and english <60:
    print("B")
elif english >=40 and english <50:
    print("C")
elif english >=30 and english <40:
    print("D")
elif english >=20 and english <30:
    print("E")
elif english >=1 and english <30:
    print("leave this school immediately")

In [8]:
def class1():
    print("honesty")
    print("peace")
class1()

honesty
peace

In [9]:
def cars():
    print("mercedes benz")
    print("volvo")
    print("mclaren")
cars()

mercedes benz
volvo
mclaren

In [11]:
def galaxy():
    print("mars")
    print("jupiter")
    print("earth")
galaxy()

mars
jupiter
earth

In [13]:
def num():
    return 5000
num()

5000

In [15]:
def goal():
    return 5+5
goal()

10

In [16]:
def kids():
    return("david","onyeka","lynda","faith","sam","nneka","cynthia")
kids()

('david', 'onyeka', 'lynda', 'faith', 'sam', 'nneka', 'cynthia')

In [17]:
def numbers(t):
    return t*10
print(numbers(5))
print(numbers(9))
print(numbers(12))

50
90
120

In [19]:
def games(y):
    print("david loves",y)
    print("david cant wait to have",y)
    print("david cares alot about",y)
games("rejoice")

david loves rejoice
david cant wait to have rejoice
david cares alot about rejoice

In [23]:
def girl(girl="rejoice"):
    print("david loves",girl)
    print("david wants to marry",girl)
    print("david is keen on loving",girl)
girl()

david loves rejoice
david wants to marry rejoice
david is keen on loving rejoice

In [24]:
import pandas as pd

In [30]:
data2=["english",25],["english",45],
      ["english",15],["english",39]

IndentationError: unexpected indent (<ipython-input-30-7530ceecc28c>, line 2)

In [28]:
df=pd.DataFrame(data2,columns=["subject","score"])

ValueError: Shape of passed values is (4, 1), indices imply (4, 2)

In [33]:
lst = [10,20,30,50,60,70]
df= pd.DataFrame(lst)
df

    0
0  10
1  20
2  30
3  50
4  60
5  70

In [36]:
df= pd.DataFrame(lst,index=["a","b","c","d","e","f"],
                columns=["marks"])
df

   marks
a     10
b     20
c     30
d     50
e     60
f     70

In [38]:
df = {"names":["david","caramel","sugar","spice"],
     "subjects":["english","english","english","english"]}
df=pd.DataFrame(df)
df

     names subjects
0    david  english
1  caramel  english
2    sugar  english
3    spice  english

In [42]:
"indigo"[2]

'd'

In [50]:
def five():
    return 200
print(five())

200

In [6]:
3>5 and 10 <= 20

False

In [ ]:
not is considered firts
and is considered second
or is considered last