In [1]:
import pandas as pd

In [5]:
pd.read_excel("2017 Order Data.xlsx")
outlets=pd.read_excel("2017 Order Data.xlsx")

In [6]:
outlets

,Order ID,Customer ID,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status,Order Adress
0,413383,152689 - YT Restaurants,936,4680.0,2340,2017-12-31,2018-01-05,Shipped,"136 Church St, New York City, NY 10001"
1,751142,985245 - Quick Bite Convenience Stores,987,4935.0,2467.5,2017-12-31,2018-01-04,Shipped,"562 2nd St, New York City, NY 10001"
2,876056,985245 - Quick Bite Convenience Stores,270,1350.0,675,2017-12-30,2018-01-03,Shipped,"277 Main St, New York City, NY 10001"
3,548247,985245 - Quick Bite Convenience Stores,925,4625.0,2312.5,2017-12-30,2018-01-03,Shipped,"410 6th St, San Francisco, CA 94016"
4,626350,152689 - YT Restaurants,974,4870.0,2435,2017-12-29,2018-01-03,Shipped,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...,...,...,...
817,800525,785432 - Park & Eat LLC,164,820.0,410,2017-01-03,2017-01-07,Shipped,"988 Spruce St, Boston, MA 02215"
818,311436,985245 - Quick Bite Convenience Stores,107,535.0,267.5,2017-01-01,2017-01-05,Shipped,"969 11th St, Boston, MA 02215"
819,XXXXXX,XXXXXX - Promo,904,4520.0,2260,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
820,617865,452584 - Acme Grocery Stores,62,310.0,155,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
821,154036,325698 - Cascade Grovers,765,3825.0,1912.5,2017-01-01,2017-01-03,Shipped,"181 12th St, Austin, TX 73301"

In [7]:
outlets.dtypes

Order ID                   object
Customer ID                object
Cookies Shipped            object
Revenue                   float64
Cost                       object
Order Date         datetime64[ns]
Ship Date          datetime64[ns]
Order Status               object
Order Adress               object
dtype: object

In [9]:
outlets.columns

Index(['Order ID', 'Customer ID', 'Cookies Shipped', 'Revenue', 'Cost',
       'Order Date', 'Ship Date', 'Order Status', 'Order Adress'],
      dtype='object')

In [23]:
outlets["Customer ID"].str.split("-",expand=True)
# this is to split some

           0                               1
0    152689                   YT Restaurants
1    985245    Quick Bite Convenience Stores
2    985245    Quick Bite Convenience Stores
3    985245    Quick Bite Convenience Stores
4    152689                   YT Restaurants
..       ...                             ...
817  785432                   Park & Eat LLC
818  985245    Quick Bite Convenience Stores
819  XXXXXX                            Promo
820  452584              Acme Grocery Stores
821  325698                  Cascade Grovers

[822 rows x 2 columns]

# to create a column and put it in a particular position use the .insert()
# .insert("number to be put in", "name of the column")

In [18]:
#create a new column resturant and position in column 2
outlets.insert(2,"resturant name"," ")

In [26]:
custid=outlets["Customer ID"].str.split("-",expand=True)

In [19]:
outlets

,Order ID,Customer ID,resturant name,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status,Order Adress
0,413383,152689 - YT Restaurants,,936,4680.0,2340,2017-12-31,2018-01-05,Shipped,"136 Church St, New York City, NY 10001"
1,751142,985245 - Quick Bite Convenience Stores,,987,4935.0,2467.5,2017-12-31,2018-01-04,Shipped,"562 2nd St, New York City, NY 10001"
2,876056,985245 - Quick Bite Convenience Stores,,270,1350.0,675,2017-12-30,2018-01-03,Shipped,"277 Main St, New York City, NY 10001"
3,548247,985245 - Quick Bite Convenience Stores,,925,4625.0,2312.5,2017-12-30,2018-01-03,Shipped,"410 6th St, San Francisco, CA 94016"
4,626350,152689 - YT Restaurants,,974,4870.0,2435,2017-12-29,2018-01-03,Shipped,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...,...,...,...,...
817,800525,785432 - Park & Eat LLC,,164,820.0,410,2017-01-03,2017-01-07,Shipped,"988 Spruce St, Boston, MA 02215"
818,311436,985245 - Quick Bite Convenience Stores,,107,535.0,267.5,2017-01-01,2017-01-05,Shipped,"969 11th St, Boston, MA 02215"
819,XXXXXX,XXXXXX - Promo,,904,4520.0,2260,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
820,617865,452584 - Acme Grocery Stores,,62,310.0,155,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
821,154036,325698 - Cascade Grovers,,765,3825.0,1912.5,2017-01-01,2017-01-03,Shipped,"181 12th St, Austin, TX 73301"

In [27]:
# assign customer id to a variable
custid

           0                               1
0    152689                   YT Restaurants
1    985245    Quick Bite Convenience Stores
2    985245    Quick Bite Convenience Stores
3    985245    Quick Bite Convenience Stores
4    152689                   YT Restaurants
..       ...                             ...
817  785432                   Park & Eat LLC
818  985245    Quick Bite Convenience Stores
819  XXXXXX                            Promo
820  452584              Acme Grocery Stores
821  325698                  Cascade Grovers

[822 rows x 2 columns]

In [29]:
outlets["resturant name"]=custid[1]

In [30]:
outlets

,Order ID,Customer ID,resturant name,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status,Order Adress
0,413383,152689 - YT Restaurants,YT Restaurants,936,4680.0,2340,2017-12-31,2018-01-05,Shipped,"136 Church St, New York City, NY 10001"
1,751142,985245 - Quick Bite Convenience Stores,Quick Bite Convenience Stores,987,4935.0,2467.5,2017-12-31,2018-01-04,Shipped,"562 2nd St, New York City, NY 10001"
2,876056,985245 - Quick Bite Convenience Stores,Quick Bite Convenience Stores,270,1350.0,675,2017-12-30,2018-01-03,Shipped,"277 Main St, New York City, NY 10001"
3,548247,985245 - Quick Bite Convenience Stores,Quick Bite Convenience Stores,925,4625.0,2312.5,2017-12-30,2018-01-03,Shipped,"410 6th St, San Francisco, CA 94016"
4,626350,152689 - YT Restaurants,YT Restaurants,974,4870.0,2435,2017-12-29,2018-01-03,Shipped,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...,...,...,...,...
817,800525,785432 - Park & Eat LLC,Park & Eat LLC,164,820.0,410,2017-01-03,2017-01-07,Shipped,"988 Spruce St, Boston, MA 02215"
818,311436,985245 - Quick Bite Convenience Stores,Quick Bite Convenience Stores,107,535.0,267.5,2017-01-01,2017-01-05,Shipped,"969 11th St, Boston, MA 02215"
819,XXXXXX,XXXXXX - Promo,Promo,904,4520.0,2260,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
820,617865,452584 - Acme Grocery Stores,Acme Grocery Stores,62,310.0,155,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
821,154036,325698 - Cascade Grovers,Cascade Grovers,765,3825.0,1912.5,2017-01-01,2017-01-03,Shipped,"181 12th St, Austin, TX 73301"

In [31]:
outlets["Customer ID"]=custid[0]

In [32]:
outlets

,Order ID,Customer ID,resturant name,Cookies Shipped,Revenue,Cost,Order Date,Ship Date,Order Status,Order Adress
0,413383,152689,YT Restaurants,936,4680.0,2340,2017-12-31,2018-01-05,Shipped,"136 Church St, New York City, NY 10001"
1,751142,985245,Quick Bite Convenience Stores,987,4935.0,2467.5,2017-12-31,2018-01-04,Shipped,"562 2nd St, New York City, NY 10001"
2,876056,985245,Quick Bite Convenience Stores,270,1350.0,675,2017-12-30,2018-01-03,Shipped,"277 Main St, New York City, NY 10001"
3,548247,985245,Quick Bite Convenience Stores,925,4625.0,2312.5,2017-12-30,2018-01-03,Shipped,"410 6th St, San Francisco, CA 94016"
4,626350,152689,YT Restaurants,974,4870.0,2435,2017-12-29,2018-01-03,Shipped,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...,...,...,...,...
817,800525,785432,Park & Eat LLC,164,820.0,410,2017-01-03,2017-01-07,Shipped,"988 Spruce St, Boston, MA 02215"
818,311436,985245,Quick Bite Convenience Stores,107,535.0,267.5,2017-01-01,2017-01-05,Shipped,"969 11th St, Boston, MA 02215"
819,XXXXXX,XXXXXX,Promo,904,4520.0,2260,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
820,617865,452584,Acme Grocery Stores,62,310.0,155,2017-01-01,2017-01-03,Shipped,"364 North St, Boston, MA 02215"
821,154036,325698,Cascade Grovers,765,3825.0,1912.5,2017-01-01,2017-01-03,Shipped,"181 12th St, Austin, TX 73301"

In [36]:
outlets.insert(6,"profit","")