In [1]:
import pandas as pd
vaccine=pd.read_csv("covid vaccine.csv")

In [2]:
vaccine.dtypes

Region                                 object
State                                  object
Total population                       object
Total Doses Administered (Astra)       object
Total Doses Administered (Moderna)     object
Ship date                              object
Total Doses Administered              float64
dtype: object

In [3]:
vaccine["Total population"]=vaccine["Total population"].str.replace(",","")

In [4]:
vaccine["Total Doses Administered (Astra)"]=vaccine["Total Doses Administered (Astra)"].str.replace(","," ")

In [5]:
vaccine["Total Doses Administered (Moderna)"]=vaccine["Total Doses Administered (Moderna)"].str.replace(","," ")

In [6]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Ship date,Total Doses Administered
0,South East,Abia(,3727347,61 152,25172,2/28/2020,NaN
1,North East,Adamawa),4248436,70 521,36302,2/28/2020,NaN
2,South South,Akwa Ibom)+,5482177,67 760,27174,2/27/2020,NaN
3,South East,Anambra&*,5527809,62 171,13874,2/26/2020,NaN
4,North East,Bauchi$$$,6537314,98 409,43162,2/25/2020,NaN
5,South South,Bayelsa$,2277961,31 800,9296,2/24/2020,NaN
6,North Central,Benue%%,5741815,107 094,60256,2/22/2020,NaN
7,North East,Borno%^,5860183,64 623,31878,2/23/2020,NaN
8,South South,Cross Rivets$$$,3866269,99 813,51562,2/22/2020,NaN
9,South South,&&&,3866269,NaN,51562,2/21/2020,NaN
10,South South,Delta!,5663362,88 631,24234,2/20/2020,NaN
11,South East,Ebonyi`,2880383,46 696,18564,2/19/2020,NaN
12,South South,Edo#,4235595,76 360,59780,2/21/2020,NaN
13,South West,Ekiti,3270798,108 118,47418,2/20/2020,NaN
14,South West,$%,230900,47 000,5000,2/25/2020,NaN
15,South East,Enugu,4411119,69 626,9604,2/22/2020,NaN
16,North Central,FCT%,3564126,254 088,34846,2/27/2020,NaN
17,North East,Gombe,3256962,92 502,17402,2/23/2020,NaN
18,South East,)($,^^,145,NaN,2/24/2020,NaN
19,South East,Imo,5408756,63 326,15582,2/24/2020,NaN
20,North West,Jigawa!,5828163,80 145,44254,2/18/2020,NaN
21,North West,Kaduna$$$,8252366,180 598,43512,2/17/2020,NaN
22,North West,Kano,15076892,184 448,67760,2/25/2020,NaN
23,North West,Katsina,7831319,110 522,45906,01/09/2020,NaN
24,North West,Kebbi,4440050,62 558,30590,01/10/2019,NaN
25,North Central,Kogi,4473490,45 537,16044,01/11/2020,NaN
26,North Central,NaN,4567888,0,44954,01/12/2020,NaN
27,North Central,Kwara,3192893,115 042,44954,01/02/2020,NaN
28,South West,Lagos,12000598,669 996,236222,01/05/2020,NaN
29,North Central,Nassarawa%%%,2523395,81 416,40096,01/05/2020,NaN
30,North Central,Niger,5556247,95 799,46114,01/06/2020,NaN
31,South West,Ogun,5217716,191 969,81816,01/06/2020,NaN
32,South West,Ondo,4671695,100 249,74060,01/10/2020,NaN
33,South West,Osun^^^^,4705589,100 684,52934,01/10/2019,NaN
34,South West,Oyo,7840864,169 523,74970,01/10/2019,NaN
35,North Central,Plateau,4200442,103 275,27986,01/11/2019,NaN
36,South South,Rivers,7303924,121 889,46158,01/12/2020,NaN
37,North Central,^),4567888,43,($,01/12/2020,NaN
38,North West,Sokoto,4998090,52 648,18004,01/12/2020,NaN
39,North East,Taraba,3066834,60 613,27034,01/12/2019,NaN
40,North East,Yobe,3294137,49 079,22778,01/12/2019,NaN
41,North West,Zamfara***,4515427,68 517,32494,NaN,NaN

# replacing Nan .fillna()
#used to fill empty column or row with a a character
# isna() is used to check for empty spaces. and returns boolean

In [7]:
vaccine.isna().sum()
#important because it sums them up

Region                                 0
State                                  1
Total population                       0
Total Doses Administered (Astra)       1
Total Doses Administered (Moderna)     1
Ship date                              1
Total Doses Administered              42
dtype: int64

In [8]:
vaccine.isna()
#shows the empty sum in the column

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Ship date,Total Doses Administered
0,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True
2,False,False,False,False,False,False,True
3,False,False,False,False,False,False,True
4,False,False,False,False,False,False,True
5,False,False,False,False,False,False,True
6,False,False,False,False,False,False,True
7,False,False,False,False,False,False,True
8,False,False,False,False,False,False,True
9,False,False,False,True,False,False,True
10,False,False,False,False,False,False,True
11,False,False,False,False,False,False,True
12,False,False,False,False,False,False,True
13,False,False,False,False,False,False,True
14,False,False,False,False,False,False,True
15,False,False,False,False,False,False,True
16,False,False,False,False,False,False,True
17,False,False,False,False,False,False,True
18,False,False,False,False,True,False,True
19,False,False,False,False,False,False,True
20,False,False,False,False,False,False,True
21,False,False,False,False,False,False,True
22,False,False,False,False,False,False,True
23,False,False,False,False,False,False,True
24,False,False,False,False,False,False,True
25,False,False,False,False,False,False,True
26,False,True,False,False,False,False,True
27,False,False,False,False,False,False,True
28,False,False,False,False,False,False,True
29,False,False,False,False,False,False,True
30,False,False,False,False,False,False,True
31,False,False,False,False,False,False,True
32,False,False,False,False,False,False,True
33,False,False,False,False,False,False,True
34,False,False,False,False,False,False,True
35,False,False,False,False,False,False,True
36,False,False,False,False,False,False,True
37,False,False,False,False,False,False,True
38,False,False,False,False,False,False,True
39,False,False,False,False,False,False,True
40,False,False,False,False,False,False,True
41,False,False,False,False,False,True,True

In [9]:
vaccine.isnull().sum()
#same function as isna

Region                                 0
State                                  1
Total population                       0
Total Doses Administered (Astra)       1
Total Doses Administered (Moderna)     1
Ship date                              1
Total Doses Administered              42
dtype: int64

# FILLNA() IS USED TO FILL EMPTY COLUMNS

In [10]:
vaccine=vaccine.fillna(0)

# Regular expressions ("\W")

In [11]:
#we use regular expressions to remove errors in a column  or data frame
# we pass into the .sr.replace() function

#regular expressions can remove characters not numbers nor text

In [19]:
vaccine["State"]=vaccine["State"].str.replace("\W","",regex=True)
vaccine["State"]

0            Abia
1         Adamawa
2        AkwaIbom
3         Anambra
4          Bauchi
5         Bayelsa
6           Benue
7           Borno
8     CrossRivets
9
10          Delta
11         Ebonyi
12            Edo
13          Ekiti
14
15          Enugu
16            FCT
17          Gombe
18
19            Imo
20         Jigawa
21         Kaduna
22           Kano
23        Katsina
24          Kebbi
25           Kogi
26            NaN
27          Kwara
28          Lagos
29      Nassarawa
30          Niger
31           Ogun
32           Ondo
33           Osun
34            Oyo
35        Plateau
36         Rivers
37
38         Sokoto
39         Taraba
40           Yobe
41        Zamfara
Name: State, dtype: object

In [13]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Ship date,Total Doses Administered
0,South East,Abia,3727347,61 152,25172,2/28/2020,0.0
1,North East,Adamawa,4248436,70 521,36302,2/28/2020,0.0
2,South South,AkwaIbom,5482177,67 760,27174,2/27/2020,0.0
3,South East,Anambra,5527809,62 171,13874,2/26/2020,0.0
4,North East,Bauchi,6537314,98 409,43162,2/25/2020,0.0
5,South South,Bayelsa,2277961,31 800,9296,2/24/2020,0.0
6,North Central,Benue,5741815,107 094,60256,2/22/2020,0.0
7,North East,Borno,5860183,64 623,31878,2/23/2020,0.0
8,South South,CrossRivets,3866269,99 813,51562,2/22/2020,0.0
9,South South,,3866269,0,51562,2/21/2020,0.0
10,South South,Delta,5663362,88 631,24234,2/20/2020,0.0
11,South East,Ebonyi,2880383,46 696,18564,2/19/2020,0.0
12,South South,Edo,4235595,76 360,59780,2/21/2020,0.0
13,South West,Ekiti,3270798,108 118,47418,2/20/2020,0.0
14,South West,,230900,47 000,5000,2/25/2020,0.0
15,South East,Enugu,4411119,69 626,9604,2/22/2020,0.0
16,North Central,FCT,3564126,254 088,34846,2/27/2020,0.0
17,North East,Gombe,3256962,92 502,17402,2/23/2020,0.0
18,South East,,^^,145,0,2/24/2020,0.0
19,South East,Imo,5408756,63 326,15582,2/24/2020,0.0
20,North West,Jigawa,5828163,80 145,44254,2/18/2020,0.0
21,North West,Kaduna,8252366,180 598,43512,2/17/2020,0.0
22,North West,Kano,15076892,184 448,67760,2/25/2020,0.0
23,North West,Katsina,7831319,110 522,45906,01/09/2020,0.0
24,North West,Kebbi,4440050,62 558,30590,01/10/2019,0.0
25,North Central,Kogi,4473490,45 537,16044,01/11/2020,0.0
26,North Central,NaN,4567888,0,44954,01/12/2020,0.0
27,North Central,Kwara,3192893,115 042,44954,01/02/2020,0.0
28,South West,Lagos,12000598,669 996,236222,01/05/2020,0.0
29,North Central,Nassarawa,2523395,81 416,40096,01/05/2020,0.0
30,North Central,Niger,5556247,95 799,46114,01/06/2020,0.0
31,South West,Ogun,5217716,191 969,81816,01/06/2020,0.0
32,South West,Ondo,4671695,100 249,74060,01/10/2020,0.0
33,South West,Osun,4705589,100 684,52934,01/10/2019,0.0
34,South West,Oyo,7840864,169 523,74970,01/10/2019,0.0
35,North Central,Plateau,4200442,103 275,27986,01/11/2019,0.0
36,South South,Rivers,7303924,121 889,46158,01/12/2020,0.0
37,North Central,,4567888,43,($,01/12/2020,0.0
38,North West,Sokoto,4998090,52 648,18004,01/12/2020,0.0
39,North East,Taraba,3066834,60 613,27034,01/12/2019,0.0
40,North East,Yobe,3294137,49 079,22778,01/12/2019,0.0
41,North West,Zamfara,4515427,68 517,32494,0,0.0

In [17]:
vaccine=vaccine.fillna(0)
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Ship date,Total Doses Administered
0,South East,Abia,3727347,61 152,25172,2/28/2020,0.0
1,North East,Adamawa,4248436,70 521,36302,2/28/2020,0.0
2,South South,AkwaIbom,5482177,67 760,27174,2/27/2020,0.0
3,South East,Anambra,5527809,62 171,13874,2/26/2020,0.0
4,North East,Bauchi,6537314,98 409,43162,2/25/2020,0.0
5,South South,Bayelsa,2277961,31 800,9296,2/24/2020,0.0
6,North Central,Benue,5741815,107 094,60256,2/22/2020,0.0
7,North East,Borno,5860183,64 623,31878,2/23/2020,0.0
8,South South,CrossRivets,3866269,99 813,51562,2/22/2020,0.0
9,South South,,3866269,0,51562,2/21/2020,0.0
10,South South,Delta,5663362,88 631,24234,2/20/2020,0.0
11,South East,Ebonyi,2880383,46 696,18564,2/19/2020,0.0
12,South South,Edo,4235595,76 360,59780,2/21/2020,0.0
13,South West,Ekiti,3270798,108 118,47418,2/20/2020,0.0
14,South West,,230900,47 000,5000,2/25/2020,0.0
15,South East,Enugu,4411119,69 626,9604,2/22/2020,0.0
16,North Central,FCT,3564126,254 088,34846,2/27/2020,0.0
17,North East,Gombe,3256962,92 502,17402,2/23/2020,0.0
18,South East,,00,145,0,2/24/2020,0.0
19,South East,Imo,5408756,63 326,15582,2/24/2020,0.0
20,North West,Jigawa,5828163,80 145,44254,2/18/2020,0.0
21,North West,Kaduna,8252366,180 598,43512,2/17/2020,0.0
22,North West,Kano,15076892,184 448,67760,2/25/2020,0.0
23,North West,Katsina,7831319,110 522,45906,01/09/2020,0.0
24,North West,Kebbi,4440050,62 558,30590,01/10/2019,0.0
25,North Central,Kogi,4473490,45 537,16044,01/11/2020,0.0
26,North Central,0,4567888,0,44954,01/12/2020,0.0
27,North Central,Kwara,3192893,115 042,44954,01/02/2020,0.0
28,South West,Lagos,12000598,669 996,236222,01/05/2020,0.0
29,North Central,Nassarawa,2523395,81 416,40096,01/05/2020,0.0
30,North Central,Niger,5556247,95 799,46114,01/06/2020,0.0
31,South West,Ogun,5217716,191 969,81816,01/06/2020,0.0
32,South West,Ondo,4671695,100 249,74060,01/10/2020,0.0
33,South West,Osun,4705589,100 684,52934,01/10/2019,0.0
34,South West,Oyo,7840864,169 523,74970,01/10/2019,0.0
35,North Central,Plateau,4200442,103 275,27986,01/11/2019,0.0
36,South South,Rivers,7303924,121 889,46158,01/12/2020,0.0
37,North Central,,4567888,43,($,01/12/2020,0.0
38,North West,Sokoto,4998090,52 648,18004,01/12/2020,0.0
39,North East,Taraba,3066834,60 613,27034,01/12/2019,0.0
40,North East,Yobe,3294137,49 079,22778,01/12/2019,0.0
41,North West,Zamfara,4515427,68 517,32494,0,0.0

In [15]:
vaccine["Total population"]=vaccine["Total population"].str.replace("\W","0",regex=True)

In [16]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Ship date,Total Doses Administered
0,South East,Abia,3727347,61 152,25172,2/28/2020,0.0
1,North East,Adamawa,4248436,70 521,36302,2/28/2020,0.0
2,South South,AkwaIbom,5482177,67 760,27174,2/27/2020,0.0
3,South East,Anambra,5527809,62 171,13874,2/26/2020,0.0
4,North East,Bauchi,6537314,98 409,43162,2/25/2020,0.0
5,South South,Bayelsa,2277961,31 800,9296,2/24/2020,0.0
6,North Central,Benue,5741815,107 094,60256,2/22/2020,0.0
7,North East,Borno,5860183,64 623,31878,2/23/2020,0.0
8,South South,CrossRivets,3866269,99 813,51562,2/22/2020,0.0
9,South South,,3866269,0,51562,2/21/2020,0.0
10,South South,Delta,5663362,88 631,24234,2/20/2020,0.0
11,South East,Ebonyi,2880383,46 696,18564,2/19/2020,0.0
12,South South,Edo,4235595,76 360,59780,2/21/2020,0.0
13,South West,Ekiti,3270798,108 118,47418,2/20/2020,0.0
14,South West,,230900,47 000,5000,2/25/2020,0.0
15,South East,Enugu,4411119,69 626,9604,2/22/2020,0.0
16,North Central,FCT,3564126,254 088,34846,2/27/2020,0.0
17,North East,Gombe,3256962,92 502,17402,2/23/2020,0.0
18,South East,,00,145,0,2/24/2020,0.0
19,South East,Imo,5408756,63 326,15582,2/24/2020,0.0
20,North West,Jigawa,5828163,80 145,44254,2/18/2020,0.0
21,North West,Kaduna,8252366,180 598,43512,2/17/2020,0.0
22,North West,Kano,15076892,184 448,67760,2/25/2020,0.0
23,North West,Katsina,7831319,110 522,45906,01/09/2020,0.0
24,North West,Kebbi,4440050,62 558,30590,01/10/2019,0.0
25,North Central,Kogi,4473490,45 537,16044,01/11/2020,0.0
26,North Central,0,4567888,0,44954,01/12/2020,0.0
27,North Central,Kwara,3192893,115 042,44954,01/02/2020,0.0
28,South West,Lagos,12000598,669 996,236222,01/05/2020,0.0
29,North Central,Nassarawa,2523395,81 416,40096,01/05/2020,0.0
30,North Central,Niger,5556247,95 799,46114,01/06/2020,0.0
31,South West,Ogun,5217716,191 969,81816,01/06/2020,0.0
32,South West,Ondo,4671695,100 249,74060,01/10/2020,0.0
33,South West,Osun,4705589,100 684,52934,01/10/2019,0.0
34,South West,Oyo,7840864,169 523,74970,01/10/2019,0.0
35,North Central,Plateau,4200442,103 275,27986,01/11/2019,0.0
36,South South,Rivers,7303924,121 889,46158,01/12/2020,0.0
37,North Central,,4567888,43,($,01/12/2020,0.0
38,North West,Sokoto,4998090,52 648,18004,01/12/2020,0.0
39,North East,Taraba,3066834,60 613,27034,01/12/2019,0.0
40,North East,Yobe,3294137,49 079,22778,01/12/2019,0.0
41,North West,Zamfara,4515427,68 517,32494,0,0.0

In [21]:
vaccine["State"]=vaccine["State"].str.replace("\W","0",regex=True)
vaccine["Total Doses Administered (Moderna)"].str.replace("\W","",regex=True)

0      25172
1      36302
2      27174
3      13874
4      43162
5       9296
6      60256
7      31878
8      51562
9      51562
10     24234
11     18564
12     59780
13     47418
14      5000
15      9604
16     34846
17     17402
18       NaN
19     15582
20     44254
21     43512
22     67760
23     45906
24     30590
25     16044
26     44954
27     44954
28    236222
29     40096
30     46114
31     81816
32     74060
33     52934
34     74970
35     27986
36     46158
37
38     18004
39     27034
40     22778
41     32494
Name: Total Doses Administered (Moderna), dtype: object

In [22]:
vaccine["Total Doses Administered (Moderna)"].str.replace("\W","0",regex=True)

0      25172
1      36302
2      27174
3      13874
4      43162
5       9296
6      60256
7      31878
8      51562
9      51562
10     24234
11     18564
12     59780
13     47418
14      5000
15      9604
16     34846
17     17402
18       NaN
19     15582
20     44254
21     43512
22     67760
23     45906
24     30590
25     16044
26     44954
27     44954
28    236222
29     40096
30     46114
31     81816
32     74060
33     52934
34     74970
35     27986
36     46158
37        00
38     18004
39     27034
40     22778
41     32494
Name: Total Doses Administered (Moderna), dtype: object