# installing a new libary from python you use !
# and also from CMD prompt using pip install  "ctrl r" to open cmd

In [2]:
!pip install pymysql

#pymysql is used to connect pandas to mysql database management system

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
! pip install psycopg2
#pyscopg2 is used to connect pandas to a postgresql database management system

In [8]:
from pymysql import connect
#from psycopg2 import connect

import warnings
warnings.filterwarnings("ignore")

In [10]:
#connect will enable the installed libary to connect to mysql

connect(host="localhost",user="root" ,password="065321", database="car")

In [12]:
details=connect(host="localhost",user="root",password="065321", database="car")

# before excutecuting anyrows you have to use .cursor()

In [13]:
# navigate through the database
details.cursor()
# use the the assigned name .cursor() to access the table

In [17]:
import pandas as pd

In [15]:
query="select *from lists"

# details.cursor().execute(query)

In [18]:
details.cursor().execute(query)

7

# read sql(query,details)

In [23]:
manufacturers=pd.read_sql(query, details)

In [24]:
manufacturers

,RANKS,CHANGE_FROM_LAST_YEAR,BRAND,BRAND_AVERAGE,NUMBER_OF_MODELS,MOST_RELIABLE_MODEL_SCORE,LEAST_RELIABLE_MODEL_SCORE
0,6,5,AUDI,60,5,95,46
1,7,1,SUBARU,59,6,80,64
2,8,1,ACURA,57,3,64,45
3,9,6,KIA,54,9,85,5
4,10,14,LINCOLN,54,3,82,8
5,11,7,BUICK,54,3,55,52
6,12,9,GENESIS,52,3,67,38

In [22]:
manufacturers2=details=connect(host="localhost",user="root",password="065321", database="car")

In [ ]:
# using "create database "name".  it will create a databse on mysql localhost or database

In [25]:
query2="create database family"

In [28]:
manufacturers2.cursor().execute(query2)

1